<template>
    <div>
        <div class="central-meta" v-if="$store.state.featurephoto.data.user_id == $auth.user.user_id" >
            <Postbox/>
        </div>
        <no-ssr>
        <div v-for="(item , index) in $store.state.timeline.result" class="central-meta item">
            <div class="user-post">
                <div v-if="!item.editmode == true" class="friend-info">
                    <figure v-bind:class="{ 'is-vip' : $store.state.featurephoto.data.Issubscriber}">
                        <a :href="'/timeline/'+item.user_id" title="">
                            <img v-bind:src="$store.state.featurephoto.data.photo == '' ? '/images/default_photo.png' : $store.state.featurephoto.data.photo" alt="" v-bind:class="{ normal: $store.state.featurephoto.data.gender == 0 , male: $store.state.featurephoto.data.gender == 1 ,female: $store.state.featurephoto.data.gender == 2 }">
                        </a>
                    </figure>
                    <div class="friend-name">
                        <ins><a :href="'/timeline/'+item.user_id" title="">{{$store.state.featurephoto.data.nick_name}}</a></ins>
                        <span tooltip='data-totoggle' :title='timestamp2tooltipdate(item.timestamp)'>{{timestamp2date(item.timestamp)}}
                            <i v-if="item.user_id == $auth.user.user_id" class="icon icon-ic_edit_2" @click="editpost" :index="index" :blog_id="item.blog_id" tooltip='data-totoggle' title='編輯'></i>
                        </span>
                        <!--
                        <span>
                            <div class="post-editor" v-if="item.user_id == $auth.user.user_id">
                                <a @click="deletepost" :index="index" :blog_id="item.blog_id" class="delete underline">刪除</a>
                                <a @click="editpost" :index="index" :blog_id="item.blog_id" class="edit underline">修改</a>
                            </div>
                        </span>
                        -->
                    </div>
                    <div class="post-meta">
                        <div class="description" v-html="$linkify($nl2br(item.content))">
                        </div>
                        <img v-if="!validatingJSON(item.preview).title == true && validatingJSON(item.preview).image" v-bind:src="validatingJSON(item.preview).image" alt="">
                        <div v-if="item.preview != '' && !$jsonparser(item.preview).embedUrl == false" class="video-container">
                        <iframe v-if="item.preview != '' && !$jsonparser(item.preview).embedUrl == false" :src="$jsonparser(item.preview).embedUrl" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
                        
                        <div class="post-meta" v-if="!validatingJSON(item.preview).title == false">
                            <div class="linked-image align-left"  v-if="item.preview != '' && !$jsonparser(item.preview).image == false && $jsonparser(item.preview).embedUrl == false" >
                                <!--<a :href="$jsonparser(item.preview).embedUrl" target="_blank">-->
                                    <img v-bind:src="$jsonparser(item.preview).image" alt="">
                                <!--</a>-->
                            </div>
                            <div class="detail" >
                                <span v-if="item.preview != '' && !$jsonparser(item.preview).title == false">
                                    <a :href="$jsonparser(item.preview).url" target="_blank">
                                    {{ $jsonparser(item.preview).title }}
                                    </a>
                                </span>
                                <div v-if="item.preview != '' && !$jsonparser(item.preview).description == false">
                                    {{ $jsonparser(item.preview).description }}
                                </div>
                            </div>
                        </div>
                        <div class="we-video-info">
                            <ul>
                                <li>
                                    <span v-bind:class="{'like':item.isLiked}" data-toggle="tooltip" title="like" @click.prevent="like({'item':item , 'index': index})">
                                        <i aria-hidden="" class="icon icon-ic_favorite"></i>
                                        <ins>{{ item.liked_count_amount }}</ins>
                                    </span>
                                </li>
                                <li>
                                    <span class="comment" data-toggle="tooltip" title="Comments">
                                        <i class="icon icon-ic_comment"></i>
                                        <ins>{{ item.comment_count_amount }}</ins>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div >
                </div>
                <div v-if="!item.editmode == false">
                    <Postbox :index="index" />
                </div>
                <CommentList :blog_id="item.blog_id" :blogindex="index" :storename="'timeline'"/>
            </div>
        </div>
            
        <infinite-loading @infinite="listinfiniteHandler">
            <div slot="no-more">沒有資料了</div>
            <div slot="no-results">沒有資料了</div>
        </infinite-loading>
        </no-ssr>
    </div>
</template>

<script>
import Logo from '~/components/Logo.vue'
import Postbox from '~/components/layout/default/new-postbox.vue'
import CommentList from '~/components/layout/default/comment-list.vue'
import InfiniteLoading from 'vue-infinite-loading';
import moment from 'moment';

export default {
    layout: 'main-feature-photo',
    components: {
        Logo,
        Postbox,
        InfiniteLoading,
        CommentList,
        moment
    },
    /*
    validate ({ params }) {
        // 參數必須為數字
        return /^\d+$/.test(params.id)
    },
    */
    data()  {
        return {
            result: {},
        };
    },
    beforeMount() {
        //get user info
        this.$store.dispatch('update_feature_photo' , { user_id : this.$route.params.id });
        //this.$store.dispatch('update_feature_photo' , { user_id : this.$route.params.id });
        //get blog
        /*
        this.$axios.$post('/api/user/blogs', { id : this.$route.params.id } )
        .then( response => {
            this.$store.commit('timeline/SET_RESULT' , response.data );
            //this.result = response;
        }).catch(function (error) {
        console.log(error);
        });
         */
    },
    methods: {
        listinfiniteHandler($state) {
            this.$axios.$post('/api/user/blogs?page=' + this.$store.state.timeline.page , { id : this.$route.params.id } ).then( response => {
                if(response.data.length){
                    var page = this.$store.state.timeline.page;
                    page +=1;
                    this.$store.commit('timeline/ADD_RESULT' , response.data );
                    this.$store.commit('timeline/SET_PAGE' , page);

                    $state.loaded();
                }else{
                    $state.complete();
                }
            }).catch(function (error) {
                console.log(error);
            });
        },
        deletepost(vm , e){

            this.$awn.confirm('  ' , ()=>{
                var blog_id = vm.target.attributes['blog_id'].value;
                var index = vm.target.attributes['index'].value;

                this.$axios.$post( '/api/blog/delete' , { 'blog_id' : blog_id }).then( response => {
                    //console.log(response);
                    this.$toast.success('Success');

                    this.$store.commit('timeline/DEL_RESULT' , index );

                }).catch( err =>{
                    var msg = this.$errormsg(err.response.data);
                    this.$toast.error( msg );
                });
            }, '' , {
                labels: {
                    confirm: '刪除？',
                    confirmOk : '確認',
                    confirmCancel : '取消'
                }
            });
        },

        editpost(vm , e){
            $('.blogrestbtn').click();
            var blog_id = vm.target.attributes['blog_id'].value;
            var index = vm.target.attributes['index'].value;

            var item = Object.assign( {} , this.$store.state.timeline.result[index]);
            item.editmode = true;
            this.$store.commit('timeline/UPDATE_RESULT' , { 'index':  index , 'item': item} );

            /*
            this.$axios.$post( '/api/user/blogs/delete' , { 'blog_id' : blog_id }).then( response => {
                //console.log(response);
                this.$toast.success('Success');

                this.$store.commit('timeline/DEL_RESULT' , index );

            }).catch( err =>{
                var msg = this.$errormsg(err.response.data);
                this.$toast.error( msg );
            });
            */
        },
        like( para ){
            //console.log(para);
            var blog_id = para['item'].blog_id;

            var tempitem = Object.assign({}, para['item']);
            //block when ajax not done
            if(tempitem.processing) return false;

            //block ajax when process not done
            tempitem.processing = true;
            this.$store.commit('timeline/UPDATE_RESULT' , { 'item' : tempitem , 'index' : para.index } );

            if( para['item'].isLiked ){//unlike
                this.$axios.$post( '/api/blog/unlike' , { 'blog_id' : blog_id } ).then( response => {
                    var tempitem = Object.assign({}, para['item']);
                    tempitem.isLiked = false;
                    tempitem.liked_count_amount -= 1;
                    tempitem.processing = false;
                    this.$store.commit('timeline/UPDATE_RESULT' , { 'item' : tempitem , 'index' : para.index } );
                }).catch( err =>{
                    var msg = this.$errormsg(err.response.data);
                    this.$toast.error( msg );
                });

            }else{//like
                this.$axios.$post( '/api/blog/like' , { 'blog_id' : blog_id } ).then( response => {
                    var tempitem = Object.assign({}, para['item']);
                    tempitem.isLiked = true;
                    tempitem.liked_count_amount += 1;
                    tempitem.processing = false;
                    this.$store.commit('timeline/UPDATE_RESULT' , { 'item' : tempitem , 'index' : para.index } );
                }).catch( err =>{
                    var msg = this.$errormsg(err.response.data);
                    this.$toast.error( msg );
                });
            }
        },
        validatingJSON(json){
            var checkedjson
            try {
                checkedjson = JSON.parse(json)
            } catch (e) {
                checkedjson = {};
            }
            return checkedjson

        },
        timestamp2date(timestamp){            
            //console.log(timestamp);
            //console.log(Date.now());
            //console.log(Date.parse(new Date().getFullYear(), 0, 1));
            if((Math.floor(Date.now() / 1000)-604800) <= timestamp){
                //console.log('七天之內');
                return moment(timestamp * 1000).fromNow();                
            }else if(timestamp >= Math.floor(Date.parse(new Date().getFullYear(), 0, 1) / 1000) ){
                //console.log('今年之內');
                return moment(timestamp * 1000).format('MMM Do');                
            }else{
                //console.log('今天之前');
                return moment(timestamp * 1000).format('LL');
            }
            
        },
        timestamp2tooltipdate(timestamp){
            //console.log(timestamp);
            return moment(timestamp * 1000).format('llll');
        }
    },
    head () {
        return {
            title: '動態牆',
        }
    },
}
</script>

<style>
    .effect-dropdown .effect-dropdown-item {
       display: none;
    }
    .effect-dropdown--active .effect-dropdown-item {
        display: block !important;
    }
</style>
