<template>
<no-ssr>
    <div class="coment-area">
        <ul class="we-comet">
            <li v-for="(comment , index) in this.alllist " v-if="index < 4 || showall || comment.newitem">
                <div v-if="!comment.editmode == true">
                    <div v-bind:class="{ 'comet-avatar':true , 'is-vip' : comment.Issubscriber}">
                        <a :href="'/timeline/'+ comment.user_id">
                            <img v-bind:class="{ commentimg : true ,normal:comment.gender == 0 , male:comment.gender == 1 ,female:comment.gender == 2 }" v-bind:src="comment.photo == '' ? '/images/default_photo.png' : comment.photo" alt=""  alt="">
                        </a>
                    </div>
                    <div class="we-comment">
                        <div class="coment-head">
                            <h5><a :href="'/timeline/'+ comment.user_id" title="">{{ comment.nick_name}}</a></h5>
                            <!--<span>{{$moment(comment.timestamp * 1000).format('LLLL')}}</span>-->
                            <h6 v-html="$nl2br(comment.content)"></h6>
                            <em tooltip='data-totoggle' :title='timestamp2tooltipdate(comment.timestamp)'>{{timestamp2date(comment.timestamp)}}</em>                            
                            
                            <!--<a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>-->
                            <a class="delete" v-if="comment.IsCommentOwner" @click.prevent="deletecomment({'item':comment , 'index' : index})">刪除</a>
                            <a class="edit" v-if="comment.IsCommentOwner" @click.prevent="enableeditcomment({'item':comment , 'index' : index})">修改</a>
                        </div>
                        <!--<p v-html="$nl2br(comment.content)">
                        </p>-->
                    </div>
                </div>
                <div v-if="!comment.editmode == false">
                    <li class="post-comment">
                        <div v-bind:class="{ 'comet-avatar':true , 'is-vip' : comment.Issubscriber}">
                            <a :href="'/timeline/'+ comment.user_id" title="">
                                <img v-bind:src="comment.photo == '' ? '/images/default_photo.png' : comment.photo" alt=""  alt="" v-bind:class="{normal:comment.gender == 0 , male:comment.gender == 1 ,female:comment.gender == 2 }">
                            </a>
                        </div>
                        <div class="post-comt-box">
                            <form method="post">
                                <textarea v-on:keydown="arearesize" v-on:keyup="arearesize" :maxlength="max" placeholder="修改您的留言" v-model="comment.editcontent" v-on:keypress.enter="updatekeyenter($event , {'item':comment , 'index' : index})"></textarea>
                                <button type="submit" @click.prevent="editcomment({'item':comment , 'index' : index} )">更新</button>
                                <button type="submit" @click.prevent="disableeditcomment({'item':comment , 'index' : index})" class="commentrestbtn">重置</button>
                            </form>
                        </div>
                    </li>
                </div>
            </li>
            <li v-if="showall == false && $store.state.commentlist[blog_id].result.length > 4">
                <a class="showmore underline" @click.prevent="showallcomment">顯示更多</a>
            </li>
            <li v-if="loadmore && (showall == true || listpage == 1) ">
                <infinite-loading @infinite="listinfiniteHandler">
                    <div slot="no-more">沒有資料了</div>
                    <div slot="no-results">沒有資料了</div>
                </infinite-loading>
            </li>
            <li v-if="loadmore == false && hasnextpage && showall == true">
                <a href="#" title="" class="showmore underline" @click.prevent="loadmorecomment">載入更多留言</a>
            </li>
            <li class="post-comment">
                <div v-bind:class="{ 'comet-avatar':true , 'is-vip' : $auth.user.Issubscriber}">
                    <img v-bind:src="$auth.user.photo == '' ? '/images/default_photo.png'  : $auth.user.photo" alt="" v-bind:class="{ normal: $auth.user.gender == 0 , male: $auth.user.gender == 1 ,female: $auth.user.gender == 2 }">
                </div>
                <div class="post-comt-box">
                    <form method="post">
                        <textarea v-on:keydown="arearesize" v-on:keyup="arearesize" :maxlength="max" placeholder="新增一則留言" v-model="commentcontent" v-on:keypress.enter="newkeyenter"></textarea>
                        <a href="#" @click.prevent="newcomment"><span><i class="icon icon-ic_send"></i></span></a>

                            <emoji-picker @emoji="append">
                                <div
                                        slot="emoji-invoker"
                                        slot-scope="{ events: { click: clickEvent } }"
                                        @click.stop="clickEvent"
                                >
                                    <span>
                                    <i class="icon icon-ic_notification"></i>
                                    </span>
                                </div>
                                <div slot="emoji-picker" slot-scope="{ emojis, insert, display }">
                                    <div class="emoji-picker" :style="{ bottom: 80 + 'px', right: 30+ 'px' }">
                                        <!--
                                        <div class="emoji-picker__search">
                                            <input type="text" v-model="search" v-focus>
                                        </div>
                                        -->
                                        <div>
                                            <div v-for="(emojiGroup, category) in emojis" :key="category">
                                                <h5>{{ category }}</h5>
                                                <div class="emojis">
                                        <span
                                                v-for="(emoji, emojiName) in emojiGroup"
                                                :key="emojiName"
                                                @click="insert(emoji)"
                                                :title="emojiName"
                                        >{{ emoji }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </emoji-picker>

                    </form>
                    <!--<span><i class="fa fa-thumbs-o-up"></i> Like</span>-->
                </div>
            </li>
        </ul>
    </div>
</no-ssr>
</template>

<script>
    import InfiniteLoading from 'vue-infinite-loading';
    import EmojiPicker from 'vue-emoji-picker';
    import moment from 'moment';

    export default {
        components: {
            InfiniteLoading,
            EmojiPicker,
            moment
        },
        props:['blog_id' , 'blogindex' , 'storename'],
        data()  {
            return {
                listpage:1 ,
                loadmore:true,
                commentcontent:'',
                hasnextpage:false,
                showall:false,
                max:2000
            };
        },
        created() {
            //init commentlist store
            if(!this.$store.state.commentlist[this.blog_id] == true){
                this.$store.commit('commentlist/INIT' , { 'blog_id': this.blog_id } );
            }
        },
        computed: {
            alllist: function() {
                return this.$store.state.commentlist[this.blog_id].result;
            },
        },
        methods: {
            append(emoji) {
                this.commentcontent += emoji;
            },
            newcomment(e){
                if(this.commentcontent == '') return;
                this.$axios.$post( '/api/comments/new' , {'blog_id' : this.blog_id , 'content' : this.commentcontent} ).then( response => {
                    this.$toast.success('Success');
                    //update comment count
                    var blog_obj = Object.assign( {}, this.$store.state[this.storename].result[this.blogindex]);
                    blog_obj.comment_count_amount++;
                    this.$store.commit(this.storename + '/UPDATE_RESULT' , { 'index': this.blogindex , 'item' : blog_obj} );
                    response.data[0].newitem = true;
                    this.$store.commit('commentlist/ADD_RESULT' , { 'blog_id': this.blog_id , 'result' : [response.data[0]] } );
                    //this.list.push(response.data[0]);
                    this.commentcontent = '1';
                    this.commentcontent = '';
                }).catch( err =>{
                    var msg = this.$errormsg(err.response.data);
                    this.$toast.error( msg );
                });
                this.commentcontent = '';
            },
            enableeditcomment(para){
                $('.commentrestbtn').click();
                //console.log(para);
                para.item.editmode = true;
                para.item.editcontent = para.item.content;
                //this.list.splice( para['index'] , 1 , para.item );
                this.$store.commit('commentlist/UPDATE_RESULT' , { 'blog_id': this.blog_id , 'index':  para['index'] , 'item': para.item} );
                this.commentcontent = '1';
                this.commentcontent = '';
            },
            disableeditcomment(para){
                para.item.editmode = false;
                para.item.editcontent = '';
                //this.list.splice( para['index'] , 1 , para.item );
                this.$store.commit('commentlist/UPDATE_RESULT' , { 'blog_id': this.blog_id , 'index':  para['index'] , 'item': para.item} );
                this.commentcontent = '1';
                this.commentcontent = '';
            },
            deletecomment(para){
                this.$awn.confirm('  ' , ()=>{
                    this.$axios.$post( '/api/comments/delete' , { 'commentId' : para['item'].comment_id }).then( response => {
                        //console.log(response);
                        this.$toast.success('Success');
                        //update comment count
                        var blog_obj = Object.assign( {}, this.$store.state[this.storename].result[this.blogindex]);
                        blog_obj.comment_count_amount--;
                        this.$store.commit(this.storename + '/UPDATE_RESULT' , { 'index': this.blogindex , 'item' : blog_obj} );

                        this.$store.commit('commentlist/DEL_RESULT' , { 'blog_id': this.blog_id , 'index':  para['index'] , 'item': para.item} );
                        ///this.list.splice(para['index'] , 1);
                        this.commentcontent = '1';
                        this.commentcontent = '';
                    }).catch( err =>{
                        var msg = this.$errormsg(err.response.data);
                        this.$toast.error( msg );
                    });

                }, '' , {
                    labels: {
                        confirm: '刪除？',
                        confirmOk : '確認',
                        confirmCancel : '取消'
                    }
                });
            },
            editcomment(para){
                //console.log(para);
                this.$axios.$post( '/api/comments/update' , { 'commentId' : para['item'].comment_id , 'content' : para['item'].editcontent }).then( response => {
                    //console.log(response);
                    para['item'].editmode = false;
                    para['item'].content =  para['item'].editcontent;
                    this.$toast.success('Success');
                    //this.list.splice( para['index'] , 1 , para['item'] );
                    this.$store.commit('commentlist/UPDATE_RESULT' , { 'blog_id': this.blog_id , 'index':  para['index'] , 'item': para.item} );
                    this.commentcontent = '1';
                    this.commentcontent = '';

                }).catch( err =>{
                    var msg = this.$errormsg(err.response.data);
                    this.$toast.error( msg );
                });
            },
            loadmorecomment(){
              this.loadmore = true;
            },
            listinfiniteHandler($state) {

                var page = this.$store.state.commentlist[this.blog_id].listpage;

                this.$axios.$post('/api/comments?page=' + page , { 'blog_id' : this.blog_id}).then( response => {
                    if(response.data.length){
                        //this.listpage += 1;
                        //this.list.push(...response.data);
                        page +=1;

                        if(!response.links.next == false){
                            this.hasnextpage = true;
                        }
                        this.$store.commit('commentlist/ADD_RESULT' , { 'blog_id': this.blog_id , 'result' : response.data } );
                        this.$store.commit('commentlist/SET_PAGE' , { 'blog_id': this.blog_id , 'listpage' : page });
                        this.loadmore = false;
                        $state.loaded();
                    }else{
                        $state.complete();
                        this.listpage -= 1;
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            newkeyenter(e , pare){
                if(e.shiftKey){
                    return;
                }
                e.preventDefault();
                this.newcomment();
            },
            updatekeyenter(e , para){
                if(e.shiftKey){
                    return;
                }
                e.preventDefault();
                this.editcomment( para );
            },
            showallcomment(e){
                this.showall = true;
            },
            arearesize(e){
                console.log(e);
                var el = e.target;
                if(e.key == 'Enter' && e.type == 'keydown' && e.shiftKey == true){
                    $(el).css('height', 'auto').css('height', el.scrollHeight+24);
                }else{
                    $(el).css('height', 'auto').css('height', el.scrollHeight);
                }
            },
            timestamp2date(timestamp){            
            //console.log(timestamp);
            //console.log(Date.now());
            //console.log(Date.parse(new Date().getFullYear(), 0, 1));
                if((Math.floor(Date.now() / 1000)-604800) <= timestamp){
                    //console.log('七天之內');
                    return moment(timestamp * 1000).fromNow();                
                }else if(timestamp >= Math.floor(Date.parse(new Date().getFullYear(), 0, 1) / 1000) ){
                    //console.log('今年之內');
                    return moment(timestamp * 1000).format('MMM Do');                
                }else{
                    //console.log('今天之前');
                    return moment(timestamp * 1000).format('LL');
                }
            
            },
            timestamp2tooltipdate(timestamp){
                //console.log(timestamp);
                return moment(timestamp * 1000).format('llll');
            }
        },
    }
</script>

<style>
    .commentimg{
        border-radius:100%;
    }

    .wrapper {
        position: relative;
    }

    .regular-input {
        padding: 0.5rem 1rem;
        border-radius: 3px;
        border: 1px solid #ccc;
        width: 100%;
        height: 40px;
    }

    .emoji-invoker {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s;
    }
    .emoji-invoker:hover {
        transform: scale(1.1);
    }
    .emoji-invoker > svg {
        fill: #b1c6d0;
    }

    .emoji-picker {
        position: absolute;
        z-index: 1;
        font-family: Montserrat;
        border: 1px solid #ccc;
        width: 15rem;
        height: 20rem;
        overflow: scroll;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 0.5rem;
        background: #fff;
        box-shadow: 1px 1px 8px #c7dbe6;
    }
    .emoji-picker__search {
        display: flex;
    }
    .emoji-picker__search > input {
        flex: 1;
        border-radius: 10rem;
        border: 1px solid #ccc;
        padding: 0.5rem 1rem;
        outline: none;
    }
    .emoji-picker h5 {
        margin-bottom: 0;
        color: #b1b1b1;
        text-transform: uppercase;
        font-size: 0.8rem;
        cursor: default;
    }
    .emoji-picker .emojis {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .emoji-picker .emojis:after {
        content: "";
        flex: auto;
    }
    .emoji-picker .emojis span {
        padding: 0.2rem;
        cursor: pointer;
        border-radius: 5px;
    }
    .emoji-picker .emojis span:hover {
        background: #ececec;
        cursor: pointer;
    }
    .emojis span{
        top: 0px;
    }
</style>
