<template>
  <div class="widget">
    <h4 class="widget-title">修改資訊</h4>
    <ul class="naves">
      <li>
        <!--<i class="ti-info-alt"></i>--><i class="icon icon-ic_person_profile" aria-hidden=""></i>
        <nuxt-link to="/edit-profile-basic">基本資料</nuxt-link>
      </li>
      <!--
      <li>
        <i class="ti-mouse-alt"></i>
        <nuxt-link to="/edit-work-eductation">Education & Work</nuxt-link>
      </li>
      -->
      <li>
        <!--<i class="ti-heart"></i>--><i class="icon icon-ic_game" aria-hidden=""></i>
        <nuxt-link to="/edit-interest">我的興趣</nuxt-link>
      </li>
      <li>
        <!--<i class="ti-settings"></i>--><i class="icon icon-ic_edit_2" aria-hidden=""></i>
        <nuxt-link to="/edit-account-setting">帳號設定</nuxt-link>
      </li>
      <!--
      <li>
        <i class="ti-list"></i>
        <nuxt-link to="/blacklist">Blacklist</nuxt-link>
      </li>
      -->
      <li>
        <!--<i class="ti-lock"></i>--><i class="icon icon-ic_lock" aria-hidden=""></i>
        <nuxt-link to="/edit-password">變更密碼</nuxt-link>
      </li>
    </ul>
  </div><!-- settings widget -->
</template>

<style>
</style>
