<template>
  <section>
      <modal name="cropperUI"
             width="50%"
             height="auto"
             @opened="opened"
      >
          <div class="cropperDiv picCropperDiv" style="height: 500px;">
              <img id="cropperImage" :src="cropperImage"/>
          </div>
          <div style="width:100%;text-align: center">
              <button v-on:click.prevent="updateimage">確定</button>
              <button v-on:click.prevent="closecropper">取消</button>
          </div>
      </modal>

      <modal name="covercropperUI"
             width="60%"
             height="auto"
             @opened="coveropened"
      >
          <div class="cropperDiv" style="height: 500px;">
              <img id="covercropperImage" :src="covercropperImage"/>
          </div>
          <div style="width:100%;text-align: center">
              <button v-on:click.prevent="coverupdateimage">確定</button>
              <button v-on:click.prevent="coverclosecropper">取消</button>
          </div>
      </modal>
    <div class="feature-photo">
      <!--<figure><img v-bind:src="$store.state.featurephoto.data.background" alt=""></figure>-->
      <no-ssr placeholder="Loading...">
        <parallax :speed-factor="1" breakpoint="(min-width: 0px)">
            <img v-bind:src="$store.state.featurephoto.data.background" onerror="this.src='/images/default_cover.jpg';">

        </parallax>
      </no-ssr>

      <div class="add-btn">
          <template v-if="$store.state.featurephoto.data.BeRequest == true">
          <a href="#" @click.prevent="requestconfirm({'user_id':$store.state.featurephoto.data.user_id})" title="" data-ripple="" v-if="$store.state.featurephoto.data.user_id != $auth.user.user_id && $store.state.featurephoto.data.IsFriend == false && $store.state.featurephoto.data.IsRequest == false && $store.state.featurephoto.data.IsBlocked == false"><i class="icon icon-ic_person_add"></i> 接受好友請求</a>
          </template>
          <template v-if="$store.state.featurephoto.data.BeRequest == false">
          <a href="#" @click.prevent="addfriend({'user_id':$store.state.featurephoto.data.user_id})" title="" data-ripple="" v-if="$store.state.featurephoto.data.user_id != $auth.user.user_id && $store.state.featurephoto.data.IsFriend == false && $store.state.featurephoto.data.IsRequest == false && $store.state.featurephoto.data.IsBlocked == false"><i class="icon icon-ic_person_add"></i> 加入好友</a>
          <a href="#" title="" data-ripple="" v-if="$store.state.featurephoto.data.user_id != $auth.user.user_id && $store.state.featurephoto.data.IsFriend == false && $store.state.featurephoto.data.IsRequest == true && $store.state.featurephoto.data.IsBlocked == false"><i class="icon icon-ic_person_add"></i> 已送出好友請求</a>
          </template>

          <a href="#" @click.prevent="follow({'user_id':$store.state.featurephoto.data.user_id})" title="" data-ripple="" v-if="$store.state.featurephoto.data.user_id != $auth.user.user_id && $store.state.featurephoto.data.IsFan == false && $store.state.featurephoto.data.IsBlocked == false"><i class="icon icon-ic_person_add_fill"></i> 追隨</a>
          <a href="#" @click.prevent="unfollow({'user_id':$store.state.featurephoto.data.user_id})" title="" data-ripple="" v-if="$store.state.featurephoto.data.user_id != $auth.user.user_id && $store.state.featurephoto.data.IsFan == true && $store.state.featurephoto.data.IsBlocked == false"><i class="icon icon-ic_person_add_fill"></i> 取消追隨</a>

          <a class="block-it" href="#" @click.prevent="blackuser({'user_id':$store.state.featurephoto.data.user_id})" title="" data-ripple="" v-if="$store.state.featurephoto.data.user_id != $auth.user.user_id && $store.state.featurephoto.data.IsBlocked == false"><i class="icon icon-ic_notification_mute"></i> 加入黑名單</a>
          <a class="block-it" href="#" @click.prevent="unblackuser({'user_id':$store.state.featurephoto.data.user_id})" title="" data-ripple="" v-if="$store.state.featurephoto.data.user_id != $auth.user.user_id && $store.state.featurephoto.data.IsBlocked == true"><i class="icon icon-ic_notification_mute"></i> 取消黑名單</a>
      </div>
      <form class="edit-phto" v-if="$store.state.featurephoto.data.user_id == $auth.user.user_id">
        <i class="icon icon-ic_img"></i>
        <label class="fileContainer">
          修改背景圖片
          <input type="file" @change="changecover" accept=".png,.jpg,.jpeg"/>
        </label>
      </form>
      <div class="container-fluid">
        <div class="row merged">
          <div class="col-lg-2 col-sm-3">
            <div class="user-avatar">
              <figure v-bind:class="{ 'is-vip' : $store.state.featurephoto.data.Issubscriber}">
                <img v-bind:src="$store.state.featurephoto.data.photo == '' ? '/images/default_photo.png' : $store.state.featurephoto.data.photo" alt=""
                     v-bind:class="{ normal: $store.state.featurephoto.data.gender == 0 , male:$store.state.featurephoto.data.gender == 1 ,female: $store.state.featurephoto.data.gender == 2 }">
                <form class="edit-phto" v-if="$store.state.featurephoto.data.user_id == $auth.user.user_id">
                  <i class="fa fa-camera-retro"></i>
                  <label class="fileContainer">
                    修改圖像
                    <input type="file" @change="changephoto" accept=".png,.jpg,.jpeg"/>
                  </label>
                </form>
              </figure>
            </div>
          </div>
          <div class="col-lg-10 col-sm-9">
            <div class="timeline-info">
              <ul>
                <li class="admin-name">
                  <h5>{{ $store.state.featurephoto.data.nick_name}}
                      <i v-if="$store.state.featurephoto.data.isGoogle" class="fa fa-google-plus-square"></i>
                      <i v-if="$store.state.featurephoto.data.isFb" class="fa fa-facebook-square"></i>
                  </h5>
                  <span>{{ $store.state.featurephoto.data.Fans}} 粉絲</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- top area -->
</template>
<script>
    import Parallax from "vue-parallaxy"
    export default {
        components: {
            Parallax
        },
        head () {
            return {
                link: [
                    { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.css' },
                ],
                script: [
                    { src: 'https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.js'},

                ],
            }
        },
        data()  {
            return {
                cropperImage:'',
                covercropperImage:''
            };
        },
        methods: {
            follow( para ) {
                this.$axios.$post('/api/following/follow' , {'user_id':para.user_id} ).then(response => {
                    this.$store.dispatch('update_feature_photo' , { user_id : this.$route.params.id });
                }).catch(function (error) {
                    console.log(error);
                });
            },
            unfollow( para) {
                this.$axios.$post('/api/following/unfollow' , {'user_id':para.user_id} ).then( response => {
                    this.$store.dispatch('update_feature_photo' , { user_id : this.$route.params.id });
                }).catch(function (error) {
                    console.log(error);
                });
            },
            addfriend( para ){
                this.$axios.$post('/api/requests/send' , {'user_id':para.user_id} ).then( response => {
                    this.$store.dispatch('update_feature_photo' , { user_id : this.$route.params.id });
                }).catch(function (error) {
                    console.log(error);
                });
            },
            requestconfirm(para){
                this.$axios.$post('/api/requests/accept' , { 'user_id' : para.user_id } ).then(response => {
                    this.$store.dispatch('update_feature_photo' , { user_id : this.$route.params.id });
                }).catch(function (error) {
                    console.log(error);
                });
            },
            blackuser( para ){
                this.$awn.confirm('  ' , ()=>{
                    this.$axios.$post('/api/blocklist/block' , {'user_id':para.user_id} ).then( response => {
                        this.$toast.success('Success');
                        this.$store.dispatch('update_feature_photo' , { user_id : this.$route.params.id });
                    }).catch(function (error) {
                        console.log(error);
                    });

                }, '' , {
                    labels: {
                        confirm: '加入黑名單？',
                        confirmOk : '確認',
                        confirmCancel : '取消'
                    }
                });
            },
            unblackuser(para){
                this.$axios.$post('/api/blocklist/unblock' , { 'user_id' : para.user_id } ).then(response => {
                    this.$toast.success('Success');
                    this.$store.dispatch('update_feature_photo' , { user_id : this.$route.params.id });
                }).catch(function (error) {
                    console.log(error);
                });
            },
            changephoto(event){
                this.convertFile(event.target.files[0]).then( e => {
                    var contentType = this.base64Mime(e);
                    if( contentType != 'image/jpeg' && contentType != 'image/png' ){
                        this.$toast.error( '圖片內容不正確' );
                        return false;
                    }
                    this.cropperImage = e;
                    this.$modal.show('cropperUI');
                    event.target.value = '';
                    //check image ratio
                    /*
                    this.getimageratio({'imagebase64':e}).then( ratio => {
                        var maxratio = 1.05;
                        var minrario = 0.95;
                        if(ratio <= maxratio && ratio >= minrario){
                            this.$axios.$post( '/api/images/upload' , {'type':'photo' , 'image' : e }).then( response => {
                                //console.log(response);
                                this.$toast.success('Success');
                                this.$auth.fetchUser().then( e => {
                                    this.$store.commit('SET_FEATURE_PHOTO' ,{ data : this.$auth.user } );
                                });
                                //this.$store.dispatch('update_feature_photo' , { user_id : this.$route.params.id });
                            }).catch( err =>{
                                var msg = this.$errormsg(err.response.data);
                                this.$toast.error( msg );
                            });
                        }else{
                            this.$toast.error( '圖片比例不正確，請提供正方形尺寸的圖片' );
                            return false;
                        }
                    });
                    */
                }).catch(function (error) {
                    console.log(error);
                });
            },
            changecover(event){
                this.convertFile(event.target.files[0]).then( e => {
                    var contentType = this.base64Mime(e);
                    if( contentType != 'image/jpeg' && contentType != 'image/png' ){
                        this.$toast.error( '圖片內容不正確' );
                        return false;
                    }
                    this.covercropperImage = e;
                    this.$modal.show('covercropperUI');
                    event.target.value = '';
                    /*
                    this.$axios.$post( '/api/images/upload' , {'type':'background' , 'image' : e }).then( response => {
                        //console.log(response);
                        this.$toast.success('Success');
                        this.$auth.fetchUser().then( e => {
                            this.$store.commit('SET_FEATURE_PHOTO' ,{ data : this.$auth.user } );
                        });
                        //this.$store.dispatch('update_feature_photo' , { user_id : this.$route.params.id });
                    }).catch( err =>{
                        var msg = this.$errormsg(err.response.data);
                        this.$toast.error( msg );
                    });
                    */

                }).catch(function (error) {
                    console.log(error);
                });
            },
            convertFile(file) {
                return new Promise((resolve,reject)=>{
                    // 建立FileReader物件
                    let reader = new FileReader()
                    // 註冊onload事件，取得result則resolve (會是一個Base64字串)
                    reader.onload = () => { resolve(reader.result) }
                    // 註冊onerror事件，若發生error則reject
                    reader.onerror = () => { reject(reader.error) }
                    // 讀取檔案
                    reader.readAsDataURL(file)
                })
            },
            base64Mime(encoded) {
                var result = null;
                if (typeof encoded !== 'string') {
                    return result;
                }
                var mime = encoded.match(/data:([a-zA-Z0-9]+\/[a-zA-Z0-9-.+]+).*,.*/);

                if (mime && mime.length) {
                    result = mime[1];
                }
                return result.toLowerCase();
            },
            getimageratio(para){
                return new Promise((resolve,reject)=>{
                    let img = new Image();
                    // 註冊onload事件，取得result則resolve (會是一個Base64字串)
                    img.onload = () => {
                        var imageraio = Number(img.height)/Number(img.width);
                        resolve(imageraio)
                    }
                    // 讀取檔案
                    img.src = para.imagebase64;
                })
            },
            opened(e){
                //console.log(e);
                //console.log('Init Copper');
                var $image = $('#cropperImage');

                $image.cropper({
                    aspectRatio: 1 / 1,
                    viewMode:1
                });
            },
            closecropper(){
                this.$modal.hide('cropperUI');
            },
            updateimage(e){
                var $image = $('#cropperImage');
                var cropper = $image.data('cropper');
                var base64Image = cropper.getCroppedCanvas().toDataURL();
                this.$axios.$post( '/api/images/upload' , {'type':'photo' , 'image' : base64Image }).then( response => {
                    //console.log(response);
                    this.$toast.success('Success');
                    this.$modal.hide('cropperUI');
                    this.$auth.fetchUser().then( e => {
                        this.$store.commit('SET_FEATURE_PHOTO' ,{ data : this.$auth.user } );
                    });
                    //this.$store.dispatch('update_feature_photo' , { user_id : this.$route.params.id });
                }).catch( err =>{
                    var msg = this.$errormsg(err.response.data);
                    this.$toast.error( msg );
                });
            },
            coveropened(e){
                //console.log(e);
                //console.log('Init Copper');
                var $image = $('#covercropperImage');

                $image.cropper({
                    aspectRatio: 1 / 0.416875,
                    viewMode:1
                });
            },
            coverclosecropper(){
                this.$modal.hide('covercropperUI');
            },
            coverupdateimage(e){
                var $image = $('#covercropperImage');
                var cropper = $image.data('cropper');
                var base64Image = cropper.getCroppedCanvas().toDataURL();

                this.$axios.$post( '/api/images/upload' , {'type':'background' , 'image' : base64Image }).then( response => {
                    //console.log(response);
                    this.$toast.success('Success');
                    this.$modal.hide('covercropperUI');
                    this.$auth.fetchUser().then( e => {
                        this.$store.commit('SET_FEATURE_PHOTO' ,{ data : this.$auth.user } );
                    });
                    //this.$store.dispatch('update_feature_photo' , { user_id : this.$route.params.id });
                }).catch( err =>{
                    var msg = this.$errormsg(err.response.data);
                    this.$toast.error( msg );
                });
            }
        }
    }
</script>
<style>
  .photoarea{
    width:100%;
    height:35vw;
    background-size: cover;
    background-position: center;
  }
  .Masthead{
      height: 34vw !important;
      min-height:34vw !important;
  }
  #cropperImage{
      max-width: 100%;
  }
  .cropperDiv{
      text-align: center
  }
  .picCropperDiv .cropper-crop-box, .picCropperDiv .cropper-view-box {
      border-radius: 50%;
  }

  .picCropperDiv .cropper-view-box {
      box-shadow: 0 0 0 1px #39f;
      outline: 0;
  }

  .picCropperDiv .cropper-face {
      background-color:inherit !important;
  }

  .picCropperDiv .cropper-dashed, .cropper-point.point-se, .cropper-point.point-sw, .cropper-point.point-nw,   .cropper-point.point-ne, .cropper-line {
      display:none !important;
  }

  .picCropperDiv .cropper-view-box {
      outline:inherit !important;
  }
</style>
