<template>
    <footer>
        <div class="container">
            <div class="row">
                <!--
                <div class="col-lg-4 col-md-4">
                    <div class="widget">
                        <div class="foot-logo">
                            <div class="logo">
                                <a href="index.html" title=""><img src="/images/pion-logo-beta.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <!--
                <div class="col-lg-2 col-md-4">
                    <div class="widget">
                        <div class="widget-title"><h4><a href="https://web.facebook.com/shopcircut/" title=""></a></h4></div>
                        <ul class="list-style">
                            <li><a href="#" title="">關於我們</a></li>
                            <li><a href="#" title="">使用者條款</a></li>
                        </ul>
                    </div>
                    

                </div>
                -->
                <!--
                <div class="col-lg-2 col-md-4">
                    <div class="widget">
                        <ul class="colla-apps">
                            <li><a href="#" title=""><i class="fa fa-android"></i>android</a></li>
                            <li><a href="#" title=""><i class="ti-apple"></i>iPhone</a></li>
                        </ul>
                    </div>
                </div>
                -->
            </div>
        </div>
    </footer><!-- footer -->
</template>

<style>
</style>
