<template>
    <div class="widget friend-list" style="">
        <div class="header">好友群</div>
        <!--
        <div class="social">
            <ul>
                <li><button type="submit"><i class="icon icon-ic_person_add_fill"></i> 追蹤 +182</button></li>
                <li><button type="submit"><i class="icon icon-ic_fans"></i> 追隨者 +66</button></li>
            </ul>
        </div>
        -->
        <div id="searchDir">
        </div>
        <ul id="people-list" class="friendz-list ps-container ps-theme-default ps-active-y">
            <li v-for="(friendinfo ,index) in $store.state.friendlist">
                <figure v-bind:class="{ 'is-vip' : friendinfo.Issubscriber}">
                    <a :href="'/timeline/' + friendinfo.user_id">
                        <img v-bind:src="friendinfo.photo == '' ? '/images/default_photo.png' : friendinfo.photo" alt="" onerror="this.src='/images/default_photo.png';" v-bind:class="{ normal: friendinfo.gender == 0 , male:friendinfo.gender == 1 ,female: friendinfo.gender == 2 }">
                    </a>
                    <span class=""></span>
                </figure>
                <div class="friendz-meta">
                    <a :href="'/timeline/' + friendinfo.user_id">{{ friendinfo.nick_name }}</a>
                    <i>{{ $store.state.options.location[friendinfo.location] }}</i>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        components: {

        },
        props:{
        }
        ,
        data()  {
            return {
            };
        },
        beforeMount(){
          //update friend list
            //if($store.state.localStorage.friendlist.length == 0){
                this.$store.dispatch('update_friendlist');
            //}
        },
        mounted() {
        },
        methods: {
        }
    }
</script>

<style>
</style>
