<template>
    <no-ssr>
    <div class="new-postbox wrapper">
        <figure v-bind:class="{ 'is-vip' : $auth.user.Issubscriber}">
            <a :href="'/timeline/'+$auth.user.user_id" title=""><img v-bind:src="$auth.user.photo == '' ? '/images/default_photo.png'  : $auth.user.photo" alt="" v-bind:class="{ normal: $auth.user.gender == 0 , male: $auth.user.gender == 1 ,female: $auth.user.gender == 2 }"></a>
        </figure>
        <div class="newpst-input">
            <form method="post">
                <textarea v-on:keydown="arearesize" v-on:keyup="arearesize" :maxlength="postbox.max" rows="1" placeholder="寫些甚麼" class="regular-input" v-model="postbox.blog_content" @input="previewcheck"></textarea>
                <div class="attachments">
                    <ul>
                        <!--<li>
                            <i class="fa fa-music"></i>
                            <label class="fileContainer">
                                <input type="file">
                            </label>
                        </li>-->
                        <li>
                            <i class="icon icon-ic_camera"></i>
                            <button @click.prevent="sharepicture">分享照片</button>
                            <label class="fileContainer">
                                <input type="file" class="imageinput" @change="uploadimage" accept=".png,.jpg,.jpeg">
                            </label>
                        </li>
                        <li>
                            <emoji-picker @emoji="append">
                                <div
                                        slot="emoji-invoker"
                                        slot-scope="{ events: { click: clickEvent } }"
                                        @click.stop="clickEvent"
                                >
                                    <i class="icon icon-ic_notification"></i>
                                    <button @click.prevent>加點心情</button>
                                    <label class="fileContainer">
                                    </label>
                                </div>
                                <div slot="emoji-picker" slot-scope="{ emojis, insert, display }">
                                    <div class="emoji-picker" :style="{ top: 0 + 'px', right:26+ 'px' }">
                                        <!--
                                        <div class="emoji-picker__search">
                                            <input type="text" v-model="search" v-focus>
                                        </div>
                                        -->
                                        <div>
                                            <div v-for="(emojiGroup, category) in emojis" :key="category">
                                                <h5>{{ category }}</h5>
                                                <div class="emojis">
                                        <span
                                                v-for="(emoji, emojiName) in emojiGroup"
                                                :key="emojiName"
                                                @click="insert(emoji)"
                                                :title="emojiName"
                                        >{{ emoji }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </emoji-picker>
                        </li>

                        <li v-if="!this.index == false || this.index == 0">
                            <button type="submit" @click.prevent="deletepost" :index="this.index">刪除</button>
                            <button type="submit" @click.prevent="updatepost">更新</button>
                            <button type="submit" @click.prevent="disableeditblog" class="blogrestbtn">重置</button>
                        </li>
                        <li v-else>
                            <i class="icon icon-ic_comment"></i>
                            <button @click.prevent="newpost">分享吧！</button>
                            <label class="fileContainer">
                            </label>
                        </li>
                    </ul>
                </div>
            </form>

        </div>

        <div class="post-meta preview" v-if="postbox.blog_url_preview_json_show != '' && postbox.editimage == ''">
            <div class="pst-frmt">
                <ul class="pst-edt-btns">
                    <li>
                        <a href="#" title="" class="dl-btn" @click.prevent="delpreview">
                            <i class="fa fa-trash"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="linked-image align-left">
                    <img v-if="postbox.blog_url_preview_json_show.image" :src="postbox.blog_url_preview_json_show.image" alt="">
            </div>
            <div class="detail" >
                    <span v-if="postbox.blog_url_preview_json_show.title">
                        {{ postbox.blog_url_preview_json_show.title }}
                    </span>
                <div v-if="postbox.blog_url_preview_json_show.description">
                    {{ postbox.blog_url_preview_json_show.description }}
                </div>
            </div>

        </div>
        <div class="add-img mrg10" v-if="postbox.blog_image">
            <div class="row">
                <div class="col-md-12">
                    <div class="pst-img">
                        <img v-bind:src="postbox.blog_image" alt="">
                    </div>
                    <div class="pst-frmt">
                        <ul class="pst-edt-btns">
                            <li>
                                <a class="dl-btn" href="#" title="" @click.prevent="delimage">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </li>
                            <li>
                                <label class="fileContainer">
                                    <i class="fa fa-pencil-square-o"></i>
                                    <input id="upl1" type="file" @change="uploadimage" accept=".png,.jpg,.jpeg">
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--
                <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="pst-img"> <a href="#" title=""><img src="/images/resources/ad-sml-img2.jpg" alt=""></a> </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="pst-img ad-img-lnk">
                    <label class="fileContainer"> Click here to trigger the file uploader!
                      <input type="file">
                    </label>
                  </div>
                </div>
                -->
            </div>
        </div>
        <div class="add-img mrg10" v-if="postbox.editimage">
            <div class="row">
                <div class="col-md-12">
                    <div class="pst-img">
                        <img v-bind:src="postbox.editimage" alt="">
                    </div>
                    <div class="pst-frmt">
                        <ul class="pst-edt-btns">
                            <li>
                                <a class="dl-btn" href="#" title="" @click.prevent="delimage">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </li>
                            <li>
                                <label class="fileContainer">
                                    <i class="fa fa-pencil-square-o"></i>
                                    <input type="file" @change="uploadimage" accept=".png,.jpg,.jpeg">
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--
                <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="pst-img"> <a href="#" title=""><img src="/images/resources/ad-sml-img2.jpg" alt=""></a> </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="pst-img ad-img-lnk">
                    <label class="fileContainer"> Click here to trigger the file uploader!
                      <input type="file">
                    </label>
                  </div>
                </div>
                -->
            </div>
        </div>
    </div>
    </no-ssr>
</template>

<script>
    import EmojiPicker from 'vue-emoji-picker'
    export default {
        components: {
            EmojiPicker
        },
        props:{
            'storename':{
                default: 'timeline',
                type: String,
            },
            'index': Number,
        }
        ,
        data()  {
            return {
                postbox: {
                    blog_content:'',
                    blog_image:'',
                    blog_url_preview_json_show:'',
                    blog_url_preview_json:'',
                    blog_event:'',
                    editimage:'',
                    max:3000
                },
                postprocess : false
            };
        },
        mounted() {;
            //restore content
            if(!this.index == false || this.index == 0){
                //var item = this.$store.state.timeline.result[this.index];
                var item = this.$store.state[this.storename].result[this.index];
                this.postbox.blog_content = item.content;
                var previewjson = item.preview == "" ? "" : JSON.parse(item.preview);

                this.postbox.blog_url_preview_json_show = previewjson;

                if(!previewjson.title == true){
                    this.postbox['editimage'] = previewjson.image;
                }
            }
        },
        methods: {
            append(emoji) {
                this.postbox.blog_content += emoji;
            },
            newpost(e){
                if(this.postprocess || (this.postbox.blog_content == '' && this.postbox.blog_image == '')) return;
                this.postprocess = true;
                this.postbox.blog_url_preview_json = JSON.stringify(this.postbox.blog_url_preview_json_show);
                this.$axios.$post( '/api/blog/new' , this.postbox ).then( response => {
                    //console.log(response);
                    this.$toast.success('Success');
                    this.$store.commit('commentlist/INIT' , { 'blog_id': response.data[0].blog_id } );
                    response.data[0].photo =  this.$auth.user.photo;
                    response.data[0].nick_name =  this.$auth.user.nick_name;

                    this.$store.commit( this.storename + '/ADD_TOPRESULT' , [
                        response.data[0]
                    ]);
                    this.postbox.blog_content = '';
                    this.postbox.blog_image = '';
                    this.postbox.blog_url_preview_json_show = '';
                    this.postbox.blog_event = '';
                    this.postprocess = false;
                    /*
                    var url = '/api/user/blogs?page=1';

                    if( this.storename != 'timeline'){ url = '/api/home?page=1';}

                    this.$axios.$post( url , { id : this.$route.params.id } ).then( response => {
                        this.$store.commit( this.storename + '/ADD_TOPRESULT' , [
                            response.data[0]
                        ]);
                    }).catch(function (error) {
                        console.log(error);
                    });
                    */
                }).catch( err =>{
                    var msg = this.$errormsg(err.response.data);
                    this.$toast.error( msg );
                });
            },
            updatepost(e){
                this.postbox.blog_url_preview_json = JSON.stringify(this.postbox.blog_url_preview_json_show);
                if(this.postbox.blog_image == '' && this.postbox.editimage !=''){
                    delete this.postbox.blog_image;
                }
                var item = this.$store.state[this.storename].result[this.index];
                //set blog_id
                this.postbox.blog_id = item.blog_id;

                this.$axios.$post( '/api/blog/update' , this.postbox ).then( response => {
                    this.$toast.success('Success');
                    var item = response.data[0];
                    item.editmode = false;
                    item.photo =  this.$auth.user.photo;
                    item.nick_name =  this.$auth.user.nick_name;
                    this.$store.commit(this.storename+'/UPDATE_RESULT' , { 'index':  this.index , 'item': item} );

                }).catch( err =>{
                    var msg = this.$errormsg(err.response.data);
                    this.$toast.error( msg );
                });

            },
            disableeditblog(e){
                var index = this.index;
                var item = Object.assign( {} , this.$store.state[this.storename].result[index]);
                item.editmode = false;
                this.$store.commit(this.storename+'/UPDATE_RESULT' , { 'index':  index , 'item': item} );
            },
            uploadimage(event){
                this.convertFile(event.target.files[0]).then( e => {
                    var contentType = this.base64Mime(e);
                    if( contentType != 'image/jpeg' && contentType != 'image/png' ){
                        this.$toast.error( '圖片內容不正確' );
                        return false;
                    }
                    //clean input value
                    event.target.value = '';
                    //change preview image
                    this.postbox.blog_image = e;
                    //clean preview json
                    this.postbox.blog_url_preview_json_show = '';
                    //clean editimage
                    this.postbox.editimage = '';
                }).catch(function (error) {
                    console.log(error);
                });
            },
            delimage(e){
                this.postbox.blog_image = '';
                $('.imageinput').val('');
                if(this.postbox['editimage']){
                    this.postbox['editimage'] = '';
                    this.postbox.blog_url_preview_json_show = '';
                }
            },
            delpreview(e){
                this.postbox.blog_url_preview_json_show = '';
            },
            convertFile(file) {
                return new Promise((resolve,reject)=>{
                    // 建立FileReader物件
                    let reader = new FileReader()
                    // 註冊onload事件，取得result則resolve (會是一個Base64字串)
                    reader.onload = () => { resolve(reader.result) }
                    // 註冊onerror事件，若發生error則reject
                    reader.onerror = () => { reject(reader.error) }
                    // 讀取檔案
                    reader.readAsDataURL(file)
                })
            },
            base64Mime(encoded) {
                var result = null;
                if (typeof encoded !== 'string') {
                    return result;
                }
                var mime = encoded.match(/data:([a-zA-Z0-9]+\/[a-zA-Z0-9-.+]+).*,.*/);

                if (mime && mime.length) {
                    result = mime[1];
                }
                return result.toLowerCase();
            },
            previewcheck(input){
                if(this.postbox.blog_content.length < 10 || this.postbox.blog_url_preview_json_show != '') return;

                var all = this.postbox.blog_content.match(/(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})/gi);
                if( !all == false && all.length > 0 ){
                    const url = `/api/preview`;
                    this.$axios.post(url , { 'url' : all[0] }).then(response => {
                        //change preview json
                        this.postbox.blog_url_preview_json_show = response.data.data;
                        //clean preview image
                        this.postbox.blog_image = '';
                    }).catch(() => console.warn('Oh. Something went wrong'));

                }
            },
            keyenter(e){
                if(e.shiftKey){
                    return;
                }
                e.preventDefault();
                if(!this.index == false || this.index == 0){
                    this.updatepost();
                }else{
                    this.newpost();
                }
            },
            sharepicture(e){
                //console.log(e);
                $(e.target).parent().find(".imageinput").click();
                //$('#imageinput').click();
            },
            arearesize(e){
                var el = e.target;
                if(e.key == 'Enter' && e.type == 'keydown'){
                    $(el).css('height', 'auto').css('height', el.scrollHeight+24);
                }else{
                    $(el).css('height', 'auto').css('height', el.scrollHeight);
                }
            },
            deletepost(vm , e){
                this.$awn.confirm('  ' , ()=>{
                    var index = this.index;
                    var itemObj = this.$store.state[this.storename].result[this.index];
                    var blog_id = itemObj.blog_id;


                    this.$axios.$post( '/api/blog/delete' , { 'blog_id' : blog_id }).then( response => {
                        //console.log(response);
                        this.$toast.success('Success');

                        this.$store.commit(this.storename+'/DEL_RESULT' , index );

                    }).catch( err =>{
                        var msg = this.$errormsg(err.response.data);
                        this.$toast.error( msg );
                    });
                }, '' , {
                    labels: {
                        confirm: '刪除？',
                        confirmOk : '確認',
                        confirmCancel : '取消'
                    }
                });
            },
        },
        directives: {
            focus: {
                inserted(el) {
                    el.focus()
                },
            },
        },
    }
</script>

<style>
    /* Tailwind CSS-styled demo is available here: https://codepen.io/DCzajkowski/pen/Brxvzj */

    .wrapper {
        position: relative;
    }

    .regular-input {
        padding: 0.5rem 1rem;
        border-radius: 3px;
        border: 1px solid #ccc;
        width: 100%;
        height: 40px;
    }

    .emoji-invoker {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s;
    }
    .emoji-invoker:hover {
        transform: scale(1.1);
    }
    .emoji-invoker > svg {
        fill: #b1c6d0;
    }

    .emoji-picker {
        position: absolute;
        z-index: 1;
        font-family: Montserrat;
        border: 1px solid #ccc;
        width: 15rem;
        height: 20rem;
        overflow: scroll;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 0.5rem;
        background: #fff;
        box-shadow: 1px 1px 8px #c7dbe6;
    }
    .emoji-picker__search {
        display: flex;
    }
    .emoji-picker__search > input {
        flex: 1;
        border-radius: 10rem;
        border: 1px solid #ccc;
        padding: 0.5rem 1rem;
        outline: none;
    }
    .emoji-picker h5 {
        margin-bottom: 0;
        color: #b1b1b1;
        text-transform: uppercase;
        font-size: 0.8rem;
        cursor: default;
    }
    .emoji-picker .emojis {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .emoji-picker .emojis:after {
        content: "";
        flex: auto;
    }
    .emoji-picker .emojis span {
        padding: 0.2rem;
        cursor: pointer;
        border-radius: 5px;
    }
    .emoji-picker .emojis span:hover {
        background: #ececec;
        cursor: pointer;
    }
    .new-postbox textarea{
        overflow-y: hidden; /* fixes scrollbar flash - kudos to @brettjonesdev */
    }
    /*
    .attachments .fileContainer [type="file"] {
        right: 10px;
        top: -18px;
        width: 70px;
        height: 27px;
    }*/
</style>
