<template>
    <div class="side-panel">
        <!--<h4 class="panel-title">修改資訊</h4>-->
        <!--<form method="post">-->
            <div class="setting-row">
                <span><a href="/edit-profile-basic" title=""><i class="icon icon-ic_person_profile" aria-hidden=""></i> 基本資訊</a></span>
            </div>
            <div class="setting-row">
                <span><a href="/edit-interest" title=""><i class="icon icon-ic_game" aria-hidden=""></i> 我的興趣</a></span>
            </div>
            <div class="setting-row">
                <span><a href="/edit-account-setting" title=""><i class="icon icon-ic_edit_2" aria-hidden=""></i> 帳號設定</a></span>
            </div>
            <div class="setting-row">
                <span><a href="/edit-password" title=""><i class="icon icon-ic_lock" aria-hidden=""></i> 變更密碼</a></span>
            </div>
            <div class="setting-row">
                <span><a href="#" title="" @click.prevent="$store.commit('logout')"><i class="icon icon-ic_person_requestsent" aria-hidden=""></i> 登出</a></span>
            </div>
            <!--
            <div class="setting-row night-mode">
                <span>夜間模式</span>
                <input type="checkbox" id="dark-mode" />
                <label for="dark-mode" data-on-label="開" data-off-label="關"></label>
            </div>
            -->
    </div><!-- side panel -->
</template>

<style>
</style>
