<template>
  <div class="topbar stick">
    <div class="logo">
      <a title="" href="/"><img src="/images/pion-logo-beta.png" alt=""></a>
    </div>

    <div class="top-area">
      <ul class="main-menu">
        <li>
          <a href="#" title="">社群功能</a>
          <ul>
            <li><a href="/timeline-friends" title="">好友列表</a></li>
            <li><a href="/fanlist" title="">粉絲列表</a></li>
            <li><a href="/timeline-following" title="">追隨列表</a></li>
          </ul>
        </li>
        <!--
        <li>
          <a href="#" title="">聊天功能</a>
          <ul>
            <li><a href="#" title="">傳訊使用者</a></li>
            <li><a href="#" title="">開啟聊天室</a></li>
          </ul>
        </li>-->
        <li>
          <a href="#" title="">使用教學</a>
          <ul>
            <li><a href="/intro" title="">網站使用教學</a></li>
            <!--<li><a href="#" title="">APP使用教學</a></li>-->
          </ul>
        </li>
        <!--
        <li>
          <a href="#" title="">行事曆</a>
          <ul>
            <li><a href="#" title="">暫無</a></li>
          </ul>
        </li>-->
      </ul>
      <!--
      <div class="top-search">
          <form>
            <vue-autosuggest
                    v-model="query"
                    :suggestions="suggestions"
                    @input="onInputChange"
                    @selected="onSelected"
                    :get-suggestion-value="getSuggestionValue"
                    :input-props="{id:'autosuggest__input', placeholder:'搜尋好友'}">
            <div slot-scope="{suggestion}">
              <div v-if="!suggestion.item.footeritem" style="display: flex; align-items: center;">
                <img :style="{ display: 'flex', width: '25px', height: '25px', borderRadius: '15px', marginRight: '10px'}" :src="suggestion.item.photo == '' ? '/images/default_photo.png' : suggestion.item.photo" />
                <div style="{ display: 'flex', color: 'navyblue'}">{{suggestion.item.nick_name}}</div>
              </div>
              <div v-if="suggestion.item.footeritem" style="display: block">
                <div class="searchfooter">
                  <a class="golink" :href="'/search?username='+query">進階搜尋</a>
                </div>
              </div>
            </div>
            </vue-autosuggest>
            <button data-ripple=""></button>
          </form>
      </div>
      -->
      <ul class="setting-area-custom colla-apps" style="float: left;position:relative;left:10%;">
        <!--
        <li>
          <a href="" title="Home" data-ripple=""><i class="ti-search"></i></a>
          <div class="searched">
            <form method="post" class="form-search" aciton="/search/">
              <input type="text" placeholder="Search Friend">
              <button data-ripple><i class="ti-search"></i></button>
            </form>
          </div>
        </li>
        -->

        <li>
            <!--<nuxt-link to="/search"><i aria-hidden="" class="icon icon-ic_search"></i>  搜尋戰友</nuxt-link>-->
            <a href="/search"><i aria-hidden="" class="icon icon-ic_search"></i> 搜尋戰友</a>
        </li>
        <!--
        <li>
          <a href="#" title="Notification" data-ripple="">
            <i class="ti-bell"></i><span>20</span>
          </a>
          <div class="dropdowns">
            <span>4 New Notifications</span>
            <ul class="drops-menu">
              <li>
                <a href="notifications.html" title="">
                  <img src="/images/resources/thumb-1.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>sarah Loren</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag green">New</span>
              </li>
              <li>
                <a href="notifications.html" title="">
                  <img src="/images/resources/thumb-2.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>Jhon doe</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag red">Reply</span>
              </li>
              <li>
                <a href="notifications.html" title="">
                  <img src="/images/resources/thumb-3.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>Andrew</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag blue">Unseen</span>
              </li>
              <li>
                <a href="notifications.html" title="">
                  <img src="/images/resources/thumb-4.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>Tom cruse</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag">New</span>
              </li>
              <li>
                <a href="notifications.html" title="">
                  <img src="/images/resources/thumb-5.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>Amy</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag">New</span>
              </li>
            </ul>
            <a href="notifications.html" title="" class="more-mesg">view more</a>
          </div>
        </li>
        -->
        <!--
        <li>
          <a href="#" title="Messages" data-ripple=""><i class="ti-comment"></i><span>12</span></a>
          <div class="dropdowns">
            <span>5 New Messages</span>
            <ul class="drops-menu">
              <li>
                <a href="notifications.html" title="">
                  <img src="/images/resources/thumb-1.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>sarah Loren</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag green">New</span>
              </li>
              <li>
                <a href="notifications.html" title="">
                  <img src="/images/resources/thumb-2.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>Jhon doe</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag red">Reply</span>
              </li>
              <li>
                <a href="notifications.html" title="">
                  <img src="/images/resources/thumb-3.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>Andrew</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag blue">Unseen</span>
              </li>
              <li>
                <a href="notifications.html" title="">
                  <img src="/images/resources/thumb-4.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>Tom cruse</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag">New</span>
              </li>
              <li>
                <a href="notifications.html" title="">
                  <img src="/images/resources/thumb-5.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>Amy</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag">New</span>
              </li>
            </ul>
            <a href="messages.html" title="" class="more-mesg">view more</a>
          </div>
        </li>
        -->
        <!--
        <li><a href="#" title="Languages" data-ripple=""><i class="fa fa-globe"></i></a>
          <div class="dropdowns languages">
            <a href="#" title=""><i class="ti-check"></i>English</a>
            <a href="#" title="">Arabic</a>
            <a href="#" title="">Dutch</a>
            <a href="#" title="">French</a>
          </div>
        </li>
        -->
      </ul>
      <div v-bind:class="{ 'user-img':true , 'is-vip' : $auth.user.Issubscriber}">
        <a v-bind:href="'/timeline/'+$auth.user.user_id"><img v-if="$auth.loggedIn" v-bind:src="$auth.user.photo == '' ? '/images/default_photo.png'  : $auth.user.photo" style="max-height: 50px" alt="" v-bind:class="{ normal: $auth.user.gender == 0 , male: $auth.user.gender == 1 ,female: $auth.user.gender == 2 }"></a>
        <!--<span class="status f-online"></span>-->
        <!--
        <div class="user-setting">
          <a href="#" title=""><span class="status f-online"></span>online</a>
          <a href="#" title=""><span class="status f-away"></span>away</a>
          <a href="#" title=""><span class="status f-off"></span>offline</a>
          <a href="about" title=""><i class="icon icon-ic_person_profile" aria-hidden=""></i>view profile</a>
          <a href="edit-profile-basic" title=""><i class="icon icon-ic_person_profile" aria-hidden=""></i>edit profile</a>
          <a href="#" title=""><i class="ti-target"></i>activity log</a>
          <a href="edit-account-setting" title=""><i class="icon icon-ic_edit_2" aria-hidden=""></i>account setting</a>
          <a href="#" title="" @click.prevent="$store.commit('logout')"><i class="icon icon-ic_person_requestsent" aria-hidden=""></i>log out</a>
        </div>-->
      </div>
      <span class="ti-menu main-menu" data-ripple=""></span>
    </div>
  </div><!-- topbar -->
</template>

<style>
    #autosuggest__input.autosuggest__input-open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .autosuggest__results-container {
        position: relative;
        width: 100%;
    }

    .autosuggest__results {
        font-weight: 300;
        margin: 0;
        position: absolute;
        z-index: 10000001;
        width: 100%;
        border: 1px solid #e0e0e0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background: white;
        padding: 0px;
        overflow: scroll;
        max-height: 200px;
    }

    .autosuggest__results ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    .autosuggest__results .autosuggest__results_item {
        cursor: pointer;
        padding: 15px;
    }

    #autosuggest ul:nth-child(1) > .autosuggest__results_title {
        border-top: none;
    }

    .autosuggest__results .autosuggest__results_title {
        color: gray;
        font-size: 11px;
        margin-left: 0;
        padding: 15px 13px 5px;
        border-top: 1px solid lightgray;
    }

    .autosuggest__results .autosuggest__results_item:active,
    .autosuggest__results .autosuggest__results_item:hover,
    .autosuggest__results .autosuggest__results_item:focus,
    .autosuggest__results .autosuggest__results_item.autosuggest__results_item-highlighted {
        background-color: #ddd;
    }
    .searchfooter{
        text-align: center;
        background-color: #eaeaea;
        width:100%;
    }

    ul.setting-area-custom > li > a > span {
      color: #F6AD3C;
    }
    .setting-area-custom{
      width: 15%;
      padding-left: 10px !important;
      padding-top: 13px !important

    }

    .setting-area-custom a {
      color: #FFF !important;
      border: 1px solid #F6AD3C;
      background-color: #F6AD3C;
      padding: 10px 0px;
    }

    .setting-area-custom i.icon.icon-ic_search {
      font-size: 26px;
      vertical-align: middle;
      margin-right: 0px;
    }
</style>
<script>
import { VueAutosuggest } from 'vue-autosuggest';
export default {
    components: {
        VueAutosuggest
    },
    data() {
        return {
            query: "",
            selected: "",
            suggestions: [
                {
                    data: []
                }
            ],
            debounce:null
        };
    },
    mounted(){
        topbarloaded = true;
    },
    methods: {
        clickHandlere(e){
            console.log('clickHandlere');
            console.log(e);
        },
        onSelected(item) {
            if( item.item.footeritem == true){
                window.location.href= '/search?username=' + this.query;
            }else{
                window.location.href='/timeline/' + item.item.user_id;
            }
            //this.selected = item.item;
        },
        onInputChange(text) {
            if (text.length < 2) return;

            const url = `/api/friends/quicksearch`;
            clearTimeout(this.debounce);
            this.debounce = setTimeout(() => {
                this.suggestions[0].data = [];
                this.$axios.post(url , { 'keyword' : text }).then(response => {
                    if(response.data.data.length > 0 ){
                        response.data.data.push({'footeritem':true});
                    }
                    this.suggestions[0].data = response.data.data;
                }).catch(() => console.warn('Oh. Something went wrong'));
            }, 600);

        },
        onClick(e){
            console.log(e);
        },
        /**
         * This is what the <input/> value is set to when you are selecting a suggestion.
         */
        getSuggestionValue(suggestion) {
            return suggestion.item.nick_name;
        },
    }
};
</script>
