<template>
    <div class="widget mypage">
        <div class="header">個人頁面</div>
        <div class="your-page">
            
            <figure v-bind:class="{ 'is-vip' : $auth.user.Issubscriber}">
                <a title="" v-bind:href="'/timeline/'+$auth.user.user_id"><img alt="" v-bind:src="$auth.user.photo == '' ? '/images/default_photo.png'  : $auth.user.photo"  v-bind:class="{ normal: $auth.user.gender == 0 , male: $auth.user.gender == 1 ,female: $auth.user.gender == 2 }"></a>
            </figure>
            <div class="page-meta">
                <a class="underline" v-bind:href="'/timeline/'+$auth.user.user_id">{{ $auth.user.nick_name }}</a>
                <!--<span><a class="underline" href="">您有9個好友邀請通知</a></span>-->
                <span v-if="$store.state.requests != '' &&  $store.state.requests.meta.total !=0">
                    <i class="icon icon-ic_message_fill"></i>{{ $store.state.requests.meta.total }} 則好友邀請通知
                    (<a class="underline" href="/timeline-friends??showrequest=1">點選</a>)
                </span>
            </div>
            <div class="social">
                <!--
                <ul>
                    <li v-if="!following.meta == false"><button type="submit"><i class="icon icon-ic_person_add_fill"></i> 追蹤 +{{ following.meta.total }}</button></li>
                    <li v-if="!fans.meta == false"><button type="submit" ><i class="icon icon-ic_fans"></i> 追隨者 +{{ fans.meta.total }}</button></li>
                </ul>
                -->
                <div class="add-btn">
                    <a v-if="!following.meta == false"  href="/timeline-following" title="" data-ripple=""><i class="icon icon-ic_person_add_fill"></i> 追蹤 +{{ following.meta.total }}</a>
                    <a v-if="!fans.meta == false"  href="/fanlist" title="" data-ripple=""><i class="icon icon-ic_fans"></i> 粉絲 +{{ fans.meta.total }}</a>
                </div>
            </div>
            <li class="profile-cover-image"></li>
        </div>
    </div>
</template>

<script>
    export default {
        components: {

        },
        props:{
        }
        ,
        data()  {
            return {
                friends:'',
                following:'',
                fans:'',
                requests:''
            };
        },
        mounted() {
            /*
            this.$axios.$post('/api/friends').then( response => {
                this.friends = response;
            }).catch(function (error) {
                console.log(error);
            });
            */
            /*
            this.$axios.$post('/api/requests').then( response => {
                this.requests = response;
            }).catch(function (error) {
                console.log(error);
            });
            */
            this.$store.dispatch('update_requests');
            this.$axios.$post('/api/following' , {'type' : 'All'} ).then( response => {
                this.following = response;
            }).catch(function (error) {
                console.log(error);
            });
            this.$axios.$post('/api/fans').then( response => {
                this.fans = response;
            }).catch(function (error) {
                console.log(error);
            });
        },
        methods: {
        }
    }
</script>

<style>
</style>
