/*=========================
	FONT COLOR
=========================*/
.product-carousel .owl-nav .owl-prev::before, 
.product-carousel .owl-nav .owl-next::before,
.product-caro .owl-prev:hover:before, 
.product-caro .owl-next:hover:before,
.log-reg-area form .forgot-pwd,
.log-reg-area form .already-have,
.log-reg-area > p a,
.top-area > ul > li > a > span,
.timeline-info > ul li a.active,
.timeline-info > ul li a:hover,
.dropdowns > a.more-mesg,
.activity-meta > h6 a,
.activity-meta > span a:hover,
.friend-name > ins,
.description > p a,
.we-reply,
.sidebar .widget li:hover > a, .sidebar .widget li:hover > i,
.friend-meta > a,
.user-setting > a:hover,
.we-comet li a.showmore,
.twiter-feed > li p a,
.tutor-links > li i,
.tutor-links > li:hover,
.pepl-info > span,
.page-meta > a,
.frnds .nav-tabs .nav-item a.active,
.f-title i,
#work > div a,
.basics > li i,
.education > li i,
.groups > span i,
a.forgot-pwd,
.friend-meta > h4 a:hover,
.x_title > h2,
.post-meta .detail > span,
.add-btn > a:hover,
.top-area > ul.main-menu > li > ul li a:hover,
.dropdowns.active > a i,
.user-setting > a i,
.form-group input.form-file ~ .control-label, 
.form-group input.has-value ~ .control-label, 
.form-group input:focus ~ .control-label, 
.form-group input:valid ~ .control-label, 
.form-group select ~ .control-label, 
.form-group textarea.form-file ~ .control-label, 
.form-group textarea.has-value ~ .control-label, 
.form-group textarea:focus ~ .control-label, 
.form-group textarea:valid ~ .control-label,
.flaged > h3,
.invition .friend-meta a.invite:hover,
.more-optns > ul li:hover,
.post-title > h4 a:hover,
.post-title .p-date a:hover,
.l-post .l-post-meta > h4 a:hover,
.read:hover,
blockquote,
.tags > a:hover,
.comment-titles > span,
.help-list > ul li a:hover i,
.carrer-title > h2 > span,
.carrer-title > span a,
.open-position > h4 a:hover,
.option-set.icon-style > li > a.selected,
.category-box > i,
.getquot-baner > a,
.branches-box > ul li i,
.help-topic-result > h2 a:hover,
.product-name > h5 a:hover,
.full-postmeta .shopnow,
.prices.style2 ins span,
.single-btn > li > a.active,
.total-box > ul > li.final-total,
.logout-meta > p a,
.forum-list table tbody tr td i,
.forum-list table tbody tr td a,
.widget ul.recent-topics > li > i,
.date-n-reply > a,
.topic-data > span,
.help-list > ul li a:hover,
.employer-info h2,
.job-detail > ul li i,
.company-intro > a
{
	color: #FFB71B;	
}
svg{
/*stroke: #000;*/
}
path.icon{
	fill: #fff;
}


/*=========================
	BACKGROUND COLOR
=========================*/
#nprogress .bar,
.timeline-info > ul li a::before,
.add-btn > a,
.activitiez > li::before,
form button,
.colla-apps > li a:hover,
a.underline:before,
.setting-row input:checked + label,
.user-avatar:hover .edit-phto,
.error-meta > a,
.color-bg,
.add-butn,
.nav.nav-tabs.likes-btn > li a.active,
a.dislike-btn,
.drop > a:hover,
.btn-view.btn-load-more:hover,
.accordion .card h5 button[aria-expanded="true"],
.chat-head,
.f-page > figure em,
.inbox-panel-head > ul > li > a,
.nav-tabs--left .nav-link.active,
.nav-tabs--left .nav-link.active:hover,
footer .widget-title h4::before,
#topcontrol,
.sidebar .widget-title::before,
.f-title::before,
.g-post-classic > figure > i::after,
.purify > a,
.help-list > a:hover,
.open-position::before,
.info > a,
.category-box:hover, .category-box.selected,
a.main-btn,
.section-heading::before,
.getquot-baner,
.more-branches > h4::before,
.is-helpful > a,
.cart-optionz > li > a:hover,
.paginationz > li a:hover,
.paginationz > li a.active,
.shopping-cart,
a.btn2:hover,
.form-submit > input[type="submit"],
button.submit-checkout,
.delete-cart:hover,
.proceed .button,
.amount-area .update-cart,
a.addnewforum,
.apply-bttons > a
{
	background: #107583;
}




/*=========================
	BORDER COLOR
=========================*/
.topbar .form-search input:focus,
.add-btn > a:hover,
.edit-phto:hover,
.colla-apps > li a:hover,
.user-avatar:hover .edit-phto,
.top-area > ul.main-menu > li ul,
.g-post-classic:hover > figure > i,
.help-list > a:hover,
a.btn2:hover,
.single-btn > li > a.active
{
	border-color: #FFB71B;	
}

#nprogress .spinner-icon{
	border-left-color: #FFB71B;
}
#nprogress .spinner-icon
{
	border-top-color: #FFB71B;		
}
.timeline-info > ul li a:after{
	border-bottom-color: #FFB71B;
}


/*=========================
	SIDEBAR WIDGET COLOR
=========================*/
.sidebar .widget {
    background: #007b8a none repeat scroll 0 0;
    border-color: #b3b2b3;
    border-radius: 15px;
}

.sidebar .widget > ul {
    color: #FFF;
}

.sidebar .widget li i {
    color: #FFF;
}

.blackish:before, .whitish:before, .bluesh:before, .pattern:before {
    border-radius: 15px;
}

.widget .banner .bg-image {
    border-radius: 15px;
}

/*===============
***General Styling 
===============*/
.gap {
    padding: 35px 0;
}

.gray-bg {
    background: #dee2e6;
}


/*--- topbar ---*/

.top-area > ul > li > a {
    color: #007B8A;
}

ul.setting-area > li > a > span {
    color: #F6AD3C;
}

.user-setting {
    left: -55px;
}

.top-area .user-img img {
    border-radius: 100%;
}

.setting-area{
    width: 15%;
    padding-left: 10px !important;
    padding-top: 10px !important

}

.setting-area a {
    color: #FFF !important;
    border: 1px solid #007B8A;
    background-color: #007B8A;
    padding: 10px 0px;
}

.setting-area i.icon.icon-ic_search {
    font-size: 25px;
    vertical-align: middle;
    margin-right: 0px;
}

/*--- sidebar widgets ---*/

.sidebar {
    width: 90%;
}
.sidebar .widget-title {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #FFF;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 20px 20px 10px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}

.sidebar .widget ul.naves li i {
    font-size: 24px;
    vertical-align: middle;
}

/*---- your page widget ---*/
.page-meta {
    color: #FFF;
}

.page-likes .tab-content .tab-pane > span {
    color: #FFF;
}

.page-likes .tab-content .tab-pane > span i {
    color: #F6AD3C;
    font-size: 45px;
    margin-right: 6px;
    vertical-align: middle;
}

.page-likes .tab-content .tab-pane > a {
    color: #F6AD3C;
    float: left;
    font-size: 13px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}

a.mtr-btn, .mtr-btn {
	color: #F6AD3C;
}

a.mtr-btn, .mtr-btn:hover {
	color: #F6AD3C;
}

.add-btn > a:hover {
    background: #fff none repeat scroll 0 0;
    border-color: #fff;
}

.f-title i {
    font-size: 30px;
    margin-right: 5px;
    vertical-align: middle;
}

/*--- responsive header ---*/

.mh-head {
    background: #F6AD3C;
    color: #fff;
    height: auto;
}

/*--- edit-photo ---*/
.edit-phto:hover {
    background: #505050 none repeat scroll 0 0;
    border-color: #505050;
}

/*--- bottombar ---*/
.user-setting > a i {
    color: #999;
    font-size: 17px;
    margin-right: 5px;
    vertical-align: middle;
}

/*--- advanced search ---*/
i.icon.icon-ic_search {
    font-size: 25px;
}

a.advanced-search {
    font-size: 15px;
    display: flex;
}

button.mtr-btn.advanced-search {
    font-size: 15px;
}

/*--- top search ---*/
.top-search {
    width: 20%;
}

/*--- side panel ---*/
.setting-row {
    text-align: left;
}

.setting-row > span {
    font-size: 17px;
}

.setting-row > span a:hover {
    color: #F6AD3C;
}

/*--- recommand list ---*/
.recommand-users {
    width: 75%;
    margin-left: auto;
    margin-right: auto; 
}

.recommand-users .recommand-users-list {
    text-align: center;
}

.recommand-users h2 {
    text-align: center;
    font-size: 18px;
}

.page-header .recommand-users-list > a img {
    min-width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #f00;
    margin: 20px;
}

/*--- vue-tags-input ---*/
.ti-tag {
    /*background-color: #007B8A !important;*/
    background-color: #ebebeb !important;
    color: #000 !important;
}

.ti-new-tag-input-wrapper input {
    padding: 5px !important;
}

.ti-tag:before {
    content: "";
}

.add-img {
    border-top: 1px solid #ececec;
    float: right;
    margin-top: 26px;
    padding-top: 23px;
    width: 85.5%;
}

.newpst-input {
    margin-left: 0px;
    float: right;
}

.pst-img img {
    width: 100%;
}

.mrg10 .pst-img {
    margin-bottom: 10px;
}

.pst-img {
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.ad-img-lnk .fileContainer::before {
    color: #adadad;
    content: "+";
    font-family: Open sans;
    font-size: 48px;
    font-weight: 400;
    left: 50%;
    position: absolute;
    top: 53%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ad-img-lnk {
    background: rgba(184, 184, 184, 0.23) none repeat scroll 0 0;
    min-height: 115px;
    width: 100%;
}

.ad-img-lnk .fileContainer {
    color: transparent;
    cursor: pointer;
    float: left;
    min-height: 110px;
    width: 95%;
}

.fileContainer {
    cursor: pointer;
}

.fileContainer {
    position: relative;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.ad-img-lnk .fileContainer input {
    height: 100%;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    -webkit-filter: alpha(opacity=0);
    -moz-filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.mrg10 > .row > div {
    padding: 0 5px;
}

.mrg10 > .row {
    margin: 0 -5px;
}

.pst-edt-btns {
    list-style: outside none none;
    margin-bottom: 0;
    padding: 0;
    position: absolute;
    right: 25px;
    bottom: 25px;
    z-index: 1;
}

.pst-edt-btns > li a, .pst-edt-btns > li label {
    background: #3f3f3f none repeat scroll 0 0;
    border-radius: 50%;
    color: inherit;
    display: inline-table;
    font-size: inherit;
    line-height: 32px;
    text-align: center;
    width: 32px;
}

.pst-edt-btns > li {
    color: #fff;
    display: inline-block;
    font-size: 14px;
}
.pst-edt-btns > li .fileContainer {
    margin-bottom: 0;
}

.pst-frmt {
    float: left;
    overflow: hidden;
    width: 100%;
}

/*--- effect-dropdown ---*/

.dropdown-main {
    padding-top: 5px;
    float: left;
    color: #fff;
}

.effect-dropdown {
    width: 100px !important;
}


.effect-dropdown .effect-dropdown__label {
    color: #fff !important;
    z-index: 1!important;
}

.effect-dropdown .effect-dropdown__label, .effect-dropdown .effect-dropdown-item {
    height: 35px !important;
    line-height: 35px !important;
    background-color: #f6ad3c !important;
}

.effect-dropdown .effect-dropdown__content {
    color:#fff !important;
}

.delete.effect-dropdown-item.effect-dropdown-item--fence {
    top: 36px !important;
}

.edit.effect-dropdown-item.effect-dropdown-item--fence {
    top: 72px !important;
}


/*--- comment area ---*/
.post-comt-box form button {
    color: #F6AD3C;
    position: relative;
    float: right;
}
.we-comment {
    word-break: break-word; 
}


.we-comment .coment-head a {
    cursor: pointer;
}

/*--- preview mode ---*/
.post-meta.preview {
    border-top: 1px solid #ececec;
    float: right;
    margin-top: 26px;
    padding-top: 23px;
    width: 85.5%;
    margin-right: 10px;
}

.post-meta.preview ul.pst-edt-btns {
    position: inherit;
    float: right;
}

/*--- post ---*/

/*--- profile intro widget ---*/
.widget.profile {
    background: #007B8A;
}

.widget.profile h4 {
    color: #FFF;
}

.widget.profile ul.short-profile li span {
    color: #F6AD3C;
}

.widget.profile ul.short-profile li p {
    color: #fff;
}

.widget.profile li i {
    color: #F6AD3C;
    font-size: 35px;
}

.short-profile li p {
    margin-left: 5px;
}

.profile-cover-image {
    background-image: url(/images/feature-pattern.png);
    background-size: cover;
    width: 100%;
    height: 45px;
}


/*--- landing ---*/
/*
.log-reg-area {
    width: 550px;
}*/
.friend-logo img {
    max-width: 250px;
}

.form-group .mtrl-select::before {
    background: #007B8A;
}

.chosen-container-single .chosen-single {
    color: #2a2a2a !important;
}

.checkbox input:checked~.check-box {
    color: #007B8A;
}

.checkbox .check-box::after, .checkbox .check-box::before {
    background-color: #007B8A;
}

.mtr-btn::before {
    border: 50vh solid #007B8A;
}

.submit-btns a.mtr-btn {
    display: inline-block;
}

a.mtr-btn.social-login {
    min-width: 250px;
}

/*--- home ---*/
.post-meta {
    margin-top: 55px;
}

.post-meta > img {
    width: 100%;
}

/*--- timeline ---*/
.description {
    word-break: break-word;
    margin-bottom: 15px;
}

.central-meta {
    border-radius: 15px;
    border: 1px solid #007b8a;
}

.we-video-info {
    border-top: 1px solid #363636;
    float: left;
    padding: 25px 0px 40px;
}

.we-video-info > ul li {
    margin-right: 15px
}

.we-video-info > ul li span {
    font-size: 40px;
    border: 1px solid #cecece;
    display: inline-block;
    line-height: 30px;
    margin-left: 0px;
    padding: 10px;
    width: 90px;
}

.we-video-info > ul li {
    color: #999;
}

.we-video-info > ul li span.like {
    color: #F6AD3C;
    border: 1px solid #F6AD3C;
}

.we-video-info > ul li span ins {
    left: 50px;
    font-size: 20px;
    top: 3px;
}

.we-video-info > ul li span i.icon.icon-ic_favorite {
    cursor: pointer;
}

.user-avatar {
    border-radius: 100%;
}

.timeline-info .admin-name > h5 {
    color: #5d5b5b;
}

.timeline-info .admin-name > h5 i.fa.fa-facebook-square {
    color: #4267b2;
    vertical-align: unset;
}

.timeline-info .admin-name > h5 i.fa.fa-google-plus-square {
    color: #4285F4;
    vertical-align: unset;
}

.timeline-info > ul li a {
    font-size: 20px;
}

.emoji-invoker > svg {
    fill: #000 !important;
}
/*
@media screen and (min-width: 1024px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}*/


/*--- responsive layout ----*/
/*--- big screen ----*/

@media screen and (max-width: 1920px) and (min-width: 1601px) {
    .land-featurearea, .login-reg-bg {}
}

@media screen and (max-width: 1600px) and (min-width: 1400px) {
    .user-avatar {
        top: 0px !important;
    }
}

@media screen and (max-width: 1281px) and (min-width: 1024px) {
    .land-featurearea, .login-reg-bg {
        height: 100vh;
    }
}

/*--- tablet landscape ---*/

@media screen and (max-width: 1024px) {
    .land-featurearea, .login-reg-bg {
        height: 100vh;
    }

    .recommand-users {
        width: 100%;
        margin-left: auto;
        margin-right: auto; 
    }

    .page-header .recommand-users-list > a img {
        min-width: 55px;
        max-height: 55px;
        border-radius: 50%;
        border: 2px solid #f00;
        margin-top: 20px;
    }
}

/*--- tablet view ---*/

@media screen and (max-width: 980px) {
    .land-featurearea, .login-reg-bg {
        height: 70vh;
    }
}

@media screen and (max-width: 768px) {
    .land-featurearea, .login-reg-bg {
        height: 100vh;
    }
}

@media screen and (max-width: 767px) and (min-width: 640px) {
    .land-featurearea, .login-reg-bg {
        height: 140vh;
    }
}

@media screen and (max-width: 640px) {
    .land-featurearea, .login-reg-bg {
        height: 140vh;
    }
}

@media screen and (max-width: 480px) {
    .we-video-info > ul li span {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 420px) and (min-width: 361px) {
    .land-featurearea, .login-reg-bg {
        height: 100vh;
    }
}

@media screen and (max-width: 360px) {

}

@media screen and (max-width: 320px) {
    .land-featurearea, .login-reg-bg {
        height: 100vh;
    }
}
