
.topbar {
    background: #343434 none repeat scroll 0 0;
    color: #fff;
}
.gray-bg {
    background: #505050 none repeat scroll 0 0;
}
.top-area > ul.main-menu > li a {
    color: #ddd;
}
.top-area > ul.main-menu > li ul {
    background: #333 none repeat scroll 0 0;
}
.top-area > ul.main-menu > li > ul li a {
    color: #eee;
}
.central-meta {
    background: #424242 none repeat scroll 0 0;
    border-color: transparent;
}
.sidebar .widget {
    background: #f05097 none repeat scroll 0 0;
    border-color: #3e3e3e;
}
.sidebar .widget-title {
    color: #fff;
}
body {
    color: #eee;
    background: #505050 ;
}
textarea {
    background: #393939 none repeat scroll 0 0;
    border-color: transparent;
    color: #eee;
}
.attachments {
    background: #393939 none repeat scroll 0 0;
    border: medium none transparent;
}
.friend-name > span {
    color: #cccccc;
}
p {
    color: #ccc;
}
.we-comment::before, .peoples-mesg-box > ul > li p::before {
    border-right-color: #363636;
}
.we-comment::after, .peoples-mesg-box > ul > li p::after {
    border-right-color: #424242;
}
.we-comment {
    border-color: #363636;
}
.post-comt-box form textarea {
    background: #393939 none repeat scroll 0 0;
    color: #eee;
}
.coment-head > h5 {
    color: #fff;
}
.btn-view.btn-load-more::before {
    color: #fff;
}
.btn-view.btn-load-more {
    background: #232323 none repeat scroll 0 0 !important;
}
.dropdowns {
    background: #525252 none repeat scroll 0 0;
    border-color: #474747;
}
.drops-menu > li:nth-child(2n) > a {
    background: #444 none repeat scroll 0 0;
}
.mesg-meta > span {
    color: #b8b8b8;
}
.mesg-meta > i {
    color: #b8b8b8;
}
.drops-menu > li > a:hover {
    background: #3b3b3b none repeat scroll 0 0;
}
.dropdowns.active > a {
    background: #444 none repeat scroll 0 0;
    color: #fff;
}
.drops-menu > li > a {
    border-color: rgba(248, 248, 248, 0.1);
}
.dropdowns.active > a:hover {
    background: #444 none repeat scroll 0 0;
}
.nav.nav-tabs.likes-btn > li a{background: #363636;}
footer {
    background: #343434 none repeat scroll 0 0;
}
.foot-logo > p {
    color: #eee;
}
.location > li p {
    color: #eee;
}
.location > li i {
    color: #999;
}
footer .widget-title h4 {
    color: #fff;
}
.bottombar {
    background: #2f2f2f none repeat scroll 0 0;
}
.side-panel {
    background: #3c3c3c none repeat scroll 0 0;
    border: medium none transparent;
}
.panel-title {
    color: #fff;
}
.user-setting {
}
.user-setting > a {
    background: #444 none repeat scroll 0 0;
}
.user-setting {
    border-color: #404040;
    box-shadow: -4px 7px 16px #676767;
}
.user-setting > a:hover {
    background: #333 none repeat scroll 0 0;
}
footer:before{
	filter: brightness(0.5);
}
.setting-row input + label{background: #2d2d2d;}
.setting-row input + label::after{background: #616161;}
.setting-row{border-bottom-color: #535353; }
.top-area > ul.main-menu > li > ul li a:hover {
    background: #3b3b3b none repeat scroll 0 0;
}
.form-search input {
    background: #393939 none repeat scroll 0 0;
    border-bottom-color: #5f5f5f;
}
.timeline-info {
    background: #424242 none repeat scroll 0 0;
}
.feature-photo {
    background: #424242 none repeat scroll 0 0;
}
.timeline-info .admin-name > span {
    color: #eee;
}
.mt-2, .my-2 {
    border-color: #515151;
}
.d-flex .tab-content {
    background: #3e3e3e none repeat scroll 0 0;
}
.personal > p {
    color: #c3c3c3;
}
.socials > li a {
    box-shadow: unset;
}
.f-title {
    color: #fff;
}
.contct-info {
	background: #424242 none repeat scroll 0 0;
    box-shadow: 0 10px 10px #454545;
  }
.onoff-options .setting-row > span {
    color: #eee;
}
.onoff-options .setting-row > span {
    color: #eee;
}
#searchDir .filterinput {
    background: #393939 none repeat scroll 0 0;
    border-color: #4b4b4b;
    color: #eee;
}
.chosen-container .chosen-drop {
    background: #444 none repeat scroll 0 0;
    color: #ddd;
    border-color: #535353;
}
.chosen-container .chosen-results li {
    color: #ddd;
}
.chosen-container-single .chosen-single {
    border-color: #535353;
}
.form-group .mtrl-select {
    border-color: #535353;
}
.twiter-feed > li p, .short-profile li p{color: #bababa;}
.short-profile > li{border-color: #535353;}
.chosen-container-active.chosen-with-drop .chosen-single{
	background: #444;
	box-shadow: none;
	border-color: transparent;
}
.chosen-container-single .chosen-search input[type="text"]{
	border-color: #636363;
}
.editing-interest form ol > li a{background: #333;}
.card-body {
    background: #444 none repeat scroll 0 0;
    color: #ddd;
}
.accordion .card h5 button {
    background: #333 none repeat scroll 0 0;
    color: #eeeeee;
}
.sidebar .invition > li {
    border-color: #5c5c5c;
}
.nearby-contct > li:hover {
    border-color: transparent;
    box-shadow: 0 8px 8px #31383c;
}
.nearby-contct > li {
    background: #444 none repeat scroll 0 0;
    border-color: #535353;
}
.inbox-sec {
    background: #424242 none repeat scroll 0 0;
    border-color: #535353;
}
.inbox-navigation {
    background: #424242 none repeat scroll 0 0;
}
.inbox-panel-head > a {
    color: #ddd;
}
.inbox-navigation > ul > li {
    background: #3c3c3c none repeat scroll 0 0;
}
.inbox-action {
    background: #424242 none repeat scroll 0 0;
}
.mesages-lists {
    background: #3f3f3f none repeat scroll 0 0;
}
.message-list > li {
    border-color: #535353;
}
.mesages-lists > form input {
    background: #363636 none repeat scroll 0 0;
    border-color: #535353;
}
.tutor-links > li {
    border-bottom-color: #696969;
}
.notifi-meta > p {
    color: #eee;
}
.notification-box > ul > li {
    border-bottom-color: #535353;
}
.page-header {
    background: #292929 none repeat scroll 0 0;
    border-color: #424242;
}
.liked-pages > li {
    background: #444 none repeat scroll 0 0;
    border-color: #535353;
}
.liked-pages > li:hover {
    box-shadow: 0 8px 8px #31383c;
}
.twiter-feed > li > span {
    color: #ddd;
}
.widget .twiter-feed > li > span i {
    color: #eee;
}
.peoples > li {
    border-color: #535353;
}
.peoples {
    border-color: #535353;
}
.conversation-head {
    border-color: #535353;
}
.peoples-mesg-box > ul > li p {
    color: #fff;
}
.peoples > li:hover {
    background: #333 none repeat scroll 0 0;
}
.message-text-container textarea{color: #eee;}

.editing-interest form input {
    background: #393939 none repeat scroll 0 0;
    border-color: #373737;
    color: #eee;
}
.checkbox label, .form-radio label {
    color: #eee;
}
/*=== new pages ===*/
.top-search form input {
    background: #3f3f3f none repeat scroll 0 0;
    color: #eee;
}
.fixed-sidebar {
    background: #383838 none repeat scroll 0 0;
}
.log-reg-area {
    background: #434343 none repeat scroll 0 0;
}
.logout-meta > span {
    color: #ececec;
}

/*---- your page widget ---*/

.page-likes .tab-content .tab-pane > span i {
    color: #FFB71B;
    font-size: 15px;
    margin-right: 6px;
}

.page-likes .tab-content .tab-pane > a {
    color: #FFB71B;
    float: left;
    font-size: 13px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}

/*--- responsive header ---*/

.mh-head {
    background: #343434;
    color: #fff;
    height: auto;
}

/*--- timeline area ---*/

.timeline-info .admin-name > h5 {
    color: #FFB71B;
}


/*--- button ---*/
.mtr-btn, .mtr-btn:hover {
    color: #FFB71B;
}

.add-btn > a:hover {
    background: #505050 none repeat scroll 0 0;
    border-color: #505050;
}

/*--- edit-photo ---*/
.edit-phto:hover {
    background: #505050 none repeat scroll 0 0;
    border-color: #505050;
}









