@font-face {
  font-family: "pion";
  src: url("../fonts/pion.eot");
  src: url("../fonts/pion.eot?#iefix") format("embedded-opentype"),
      url("../fonts/pion.woff2") format("woff2"),
      url("../fonts/pion.woff") format("woff"),
      url("../fonts/pion.ttf") format("truetype"),
      url("../fonts/pion.svg#pion") format("svg");
  font-style: normal;
  font-weight: 400;
}

.icon {
  /*display: inline-block;*/
  font-family: "pion" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  /*vertical-align: -.125em;*/
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-27::before {
  content: "\ea01";
}
.icon-28::before {
  content: "\ea02";
}
.icon-30::before {
  content: "\ea03";
}
.icon-31::before {
  content: "\ea04";
}
.icon-43::before {
  content: "\ea05";
}
.icon-46::before {
  content: "\ea06";
}
.icon-54::before {
  content: "\ea07";
}
.icon-56::before {
  content: "\ea08";
}
.icon-ic_add::before {
  content: "\ea09";
}
.icon-ic_arrow_back::before {
  content: "\ea0a";
}
.icon-ic_arrow_back_fill::before {
  content: "\ea0b";
}
.icon-ic_arrow_drop_down::before {
  content: "\ea0c";
}
.icon-ic_arrow_drop_up::before {
  content: "\ea0d";
}
.icon-ic_cake::before {
  content: "\ea0e";
}
.icon-ic_calendar::before {
  content: "\ea0f";
}
.icon-ic_calendar_fill::before {
  content: "\ea10";
}
.icon-ic_calendar_today::before {
  content: "\ea11";
}
.icon-ic_camera::before {
  content: "\ea12";
}
.icon-ic_chevron_down::before {
  content: "\ea13";
}
.icon-ic_chevron_right::before {
  content: "\ea14";
}
.icon-ic_chevron_up::before {
  content: "\ea15";
}
.icon-ic_close::before {
  content: "\ea16";
}
.icon-ic_close_fill::before {
  content: "\ea17";
}
.icon-ic_comment::before {
  content: "\ea18";
}
.icon-ic_delete::before {
  content: "\ea19";
}
.icon-ic_done::before {
  content: "\ea1a";
}
.icon-ic_edit::before {
  content: "\ea1b";
}
.icon-ic_edit_2::before {
  content: "\ea1c";
}
.icon-ic_emoji::before {
  content: "\ea1d";
}
.icon-ic_fans::before {
  content: "\ea1e";
}
.icon-ic_favorite::before {
  content: "\ea1f";
}
.icon-ic_favorite_fill::before {
  content: "\ea20";
}
.icon-ic_game::before {
  content: "\ea21";
}
.icon-ic_gamer::before {
  content: "\ea22";
}
.icon-ic_gamer_fill::before {
  content: "\ea23";
}
.icon-ic_gender::before {
  content: "\ea24";
}
.icon-ic_home::before {
  content: "\ea25";
}
.icon-ic_home_fill::before {
  content: "\ea26";
}
.icon-ic_img::before {
  content: "\ea27";
}
.icon-ic_lock::before {
  content: "\ea28";
}
.icon-ic_mail::before {
  content: "\ea29";
}
.icon-ic_message::before {
  content: "\ea2a";
}
.icon-ic_message_fill::before {
  content: "\ea2b";
}
.icon-ic_more_vert::before {
  content: "\ea2c";
}
.icon-ic_more_vert_fill::before {
  content: "\ea2d";
}
.icon-ic_news::before {
  content: "\ea2e";
}
.icon-ic_notification::before {
  content: "\ea2f";
}
.icon-ic_notification_2::before {
  content: "\ea30";
}
.icon-ic_notification_mute::before {
  content: "\ea31";
}
.icon-ic_person::before {
  content: "\ea32";
}
.icon-ic_person_add::before {
  content: "\ea33";
}
.icon-ic_person_add_fill::before {
  content: "\ea34";
}
.icon-ic_person_profile::before {
  content: "\ea35";
}
.icon-ic_person_requestsent::before {
  content: "\ea36";
}
.icon-ic_place::before {
  content: "\ea37";
}
.icon-ic_post::before {
  content: "\ea38";
}
.icon-ic_post_fill::before {
  content: "\ea39";
}
.icon-ic_profile::before {
  content: "\ea3a";
}
.icon-ic_profile_fill::before {
  content: "\ea3b";
}
.icon-ic_search::before {
  content: "\ea3c";
}
.icon-ic_send::before {
  content: "\ea3d";
}
.icon-ic_signup::before {
  content: "\ea3e";
}
.icon-ic_sort_descend::before {
  content: "\ea3f";
}
.icon-ic_star::before {
  content: "\ea40";
}
.icon-ic_star_fill::before {
  content: "\ea41";
}
.icon-ic_subject::before {
  content: "\ea42";
}
.icon-ic_tick_fill::before {
  content: "\ea43";
}
.icon-ic_time::before {
  content: "\ea44";
}
.icon-ic_trash::before {
  content: "\ea45";
}
.icon-ic_visibility::before {
  content: "\ea46";
}
.icon-ic_visibility_off::before {
  content: "\ea47";
}
