<template>
    <div>
        <div class="theme-layout">
            <div class="container-fluid pdng0">
                <div class="row merged">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="land-featurearea">
                            <div class="land-meta">

                                <div class="friend-logo">
                                    <img src="/images/landing-logo-beta.png" alt="">
                                </div>
                                <!--<div style="padding-top: 50px;"></div>-->
                                <h2>揪團一起玩！無限分享！</h2>
                                
                                
                                <!--<div style="padding-top: 120px;"></div>-->
                                <img src="/images/feature-pattern-light.png" alt="">

                                <!--<a href="#" title="" class="folow-me">Follow Us on</a>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <nuxt />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        components: {
        },
        head () {
            return {
                titleTemplate: '%s - 戰友盒',
                meta: [
                    { 'http-equiv': 'Content-Type' , content: 'text/html; charset=utf-8'  },
                    { name: 'viewport', content: 'width=device-width, initial-scale=1.0' },
                    { name: 'description', content: '' },
                    { name: 'keywords', content: '' },

                    // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                    { hid: 'description', name: 'description', content: '揪團一起玩！無限分享！' }
                ],
                link: [
                    { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Kanit:300,400,500,700,900&display=swap' },
                    { rel: 'stylesheet', href: '/css/main.min.css' },
                    { rel: 'stylesheet', href: '/css/style.css' },
                    //{ rel: 'stylesheet', href: '/css/color.css' },
                    { rel: 'stylesheet', href: '/css/color-set-A.css' },
                    { rel: 'stylesheet', href: '/css/responsive.css' },
                    { rel: 'favicon', href: '/images/favicon.png' , type:'image/png', sizes:'16x16' }
                ],
                script: [
                    { src: '/js/main.min.js' },
                    { src: '/js/script.js' }
                ],
            }
        },
    }
</script>
<style>

</style>

