<template>
<div>
  <!--<div class="se-pre-con"></div>-->
  <div class="theme-layout">

    <div class="responsive-header">
      <div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
        <span class="mh-text">
				<a href="/" title=""><img src="/images/pion-logo-light-mobile.png" alt=""></a>
			</span>
        <span class="mh-btns-right">
				<a class="fa fa-sliders" href="#shoppingbag"></a>
			</span>
      </div>
      <!--
      <div class="mh-head second">
        <form class="mh-form">
          <input placeholder="search" />
          <a href="#/" class="fa fa-search"></a>
        </form>
      </div>
      -->
      <nav id="menu" class="res-menu">
        <ul>
          <li><span>社群功能</span>
            <ul>
              <li><a href="/timeline-friends" title="">好友列表</a></li>
              <li><a href="/fanlist" title="">粉絲列表</a></li>
              <li><a href="/timeline-following" title="">追隨列表</a></li>
            </ul>
          </li>
          <li><span>使用教學</span>
            <ul>
              <li><a href="/intro" title="">網站使用教學</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <nav id="shoppingbag">
        <div>
          <div class="">
            <!--<form method="post">-->
            <h4 class="panel-title">頁面選單</h4>
            <div class="setting-row">
                <span><a href="/timeline-friends" title="">好友列表</a></span>
            </div>
            <div class="setting-row">
                <span><a href="/fanlist" title="">粉絲列表</a></span>
            </div>
            <div class="setting-row">
                <span><a href="/timeline-following" title="">追隨列表</a></span>
            </div>
            <h4 class="panel-title">使用者設定</h4>
            <div class="setting-row">
                <span><a href="/edit-profile-basic" title=""><i class="icon icon-ic_person_profile" aria-hidden=""></i> 基本資訊</a></span>
            </div>
            <div class="setting-row">
                <span><a href="/edit-interest" title=""><i class="icon icon-ic_game" aria-hidden=""></i> 我的興趣</a></span>
            </div>
            <div class="setting-row">
                <span><a href="/edit-account-setting" title=""><i class="icon icon-ic_edit_2" aria-hidden=""></i> 帳號設定</a></span>
            </div>
            <div class="setting-row">
                <span><a href="/edit-password" title=""><i class="icon icon-ic_lock" aria-hidden=""></i> 變更密碼</a></span>
            </div>
            <div class="setting-row">
                <span><a href="#" title="" @click.prevent="$store.commit('logout')"><i class="icon icon-ic_person_requestsent" aria-hidden=""></i> 登出</a></span>
            </div>
            <!--</form>-->
          </div>
        </div>
      </nav>
    </div><!-- responsive header -->

    <topbar />
    
    <section v-if="$store.state.recommended.length > 0 ">
      <div class="page-header">
        <div class="header-inner">
          <!--
          <div class="recommand-users swiper-container">
              <h2>好友推薦名單</h2>
              <div class="recommand-users-list swiper-wrapper">
                <a v-for="recommend in $store.state.recommended" :href="'/timeline/'+recommend.user_id" title="" data-toggle="tooltip" data-original-title="">
                  <img v-bind:src="recommend.photo == '' ? '/images/default_photo.png' : recommend.photo" alt="" onerror="this.src='/images/default_photo.png';">
                </a>
              </div>
            <div class="swiper-pagination"></div>
          </div>
          -->

          <!-- Swiper -->
          <div class="recommand-users swiper-container">
            <h2>好友推薦</h2>
            <div class="recommand-users-list swiper-wrapper">
                <a v-bind:class="{ 'swiper-slide' : true , 'is-vip' : recommend.Issubscriber}" v-for="recommend in $store.state.recommended" :href="'/timeline/'+recommend.user_id" title="" data-toggle="tooltip" data-original-title="">
                  <img v-bind:src="recommend.photo == '' ? '/images/default_photo.png' : recommend.photo" alt="" onerror="this.src='/images/default_photo.png';" v-bind:class="{ normal: recommend.gender == 0 , male: recommend.gender == 1 ,female: recommend.gender == 2 }">
                  <span class="nick_name" v-html="recommend.nick_name"></span>
                </a>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>

      </div>
    </section>

    <section>
      <div class="gap gray-bg">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="row" id="page-contents">
                <div class="col-lg-3">
                  <aside class="sidebar static">
                    <div class="widget slogan">
                      <li class="profile-header-image"></li>
                    </div>
                    <no-ssr>
                    <div class="widget about">
                      <div class="header">
                        <span><i aria-hidden="" class="icon icon-ic_emoji"></i>關於自己  [<a href="/edit-profile-basic">編輯</a>]</span>
                      </div>
                      <div class="content">
                        <p v-html="$nl2br($linkify($auth.user.introduction))"></p>
                        <!--<i aria-hidden="" class="icon icon-ic_emoji"></i>-->
                        <div class="content-bg"><img src="/images/ic_emoji.png"></div>
                      </div>
                    </div>
                    <div class="widget intro">
                      <div class="header">
                        <span><i aria-hidden="" class="icon icon-ic_sort_descend"></i>個人資訊  [<a href="/edit-profile-basic">編輯</a>]</span>
                      </div>
                      <div class="content">
                        <p>暱稱/ {{ $auth.user.nick_name }} <br/>
                          年齡/ {{ $auth.user.age }}<br/>
                          性別/ {{ $store.state.options.gender[$auth.user.gender] }}<br/>
                          地區/ {{ $store.state.options.location[$auth.user.location] }}</p>
                        <!--<i aria-hidden="" class="icon icon-ic_sort_descend"></i>-->
                        <div class="content-bg"><img src="/images/ic_sort_descend.png"></div>
                      </div>
                    </div>
                    <div class="widget interest">
                      <div class="header">
                        <span><i aria-hidden="" class="icon icon-ic_news"></i>喜好興趣  [<a href="/edit-interest">編輯</a>]</span>
                      </div>
                      <div class="content">
                        <span>
                          <p>
                          <template v-for="(game , index) in $auth.user.game_list">
                              {{game.game_name}}<template v-if="index < $auth.user.game_list.length - 1"></template><br/>
                          </template>
                          <!--<i aria-hidden="" class="icon icon-ic_news"></i>-->
                            <div class="content-bg"><img src="/images/ic_news.png"></div>
                          </p>
                        </span>
                      </div>
                    </div>
                    <div class="widget bottom">
                      <li class="profile-cover-image-light"></li>
                    </div>
                    </no-ssr>
                    <!--<editinfo />-->
                  </aside>
                </div><!-- sidebar -->
                <div class="col-lg-6">
                  <nuxt />
                </div><!-- centerl meta -->
                <div class="col-lg-3">
                  <aside class="sidebar static">
                    <YourPage />
                    <friendList />
                    <!--
                    <div class="widget">
                      <div class="banner medium-opacity bluesh">
                        <div class="bg-image" style="background-image: url(/images/resources/baner-widgetbg.jpg)"></div>
                        <div class="baner-top">
                          <span><img alt="" src="/images/book-icon.png"></span>
                          <i class="fa fa-ellipsis-h"></i>
                        </div>
                        <div class="banermeta">
                          <p>
                            create your own favourit page.
                          </p>
                          <span>like them all</span>
                          <a data-ripple="" title="" href="#">start now!</a>
                        </div>
                      </div>
                    </div>
                    -->
                  </aside>
                </div><!-- sidebar -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footerarea />
    <div class="bottombar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span class="copyright">© 戰友盒 2019. All rights reserved. 關於我們 | 使用者條款 | 應用程式下載 (<a class="underline" href="#" title=""><i class="ti-apple"></i>iPhone</a> <a class="underline" href="#" title=""><i class="ti-android"></i>Android</a>) | 服務信箱 <a class="underline" href="mailto:service@trendian.com.tw">service@trendian.com.tw</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <sidepanel />
</div>
</template>

<script>
    import Footerarea from '~/components/layout/default/footerarea.vue'
    import Sidepanel from '~/components/layout/default/sidepanel.vue'
    import Topbar from '~/components/layout/default/topbar.vue'
    import editinfo from '~/components/layout/default/edit-info.vue'
    import YourPage from '~/components/layout/default/yourpage.vue'
    import friendList from '~/components/layout/default/friendlist.vue'



    export default {
        components: {
            Footerarea,
            Sidepanel,
            Topbar,
            editinfo,
            YourPage,
            friendList
        },
        head () {
            return {
                titleTemplate: '%s - 戰友盒',
                meta: [
                    { 'http-equiv': 'Content-Type' , content: 'text/html; charset=utf-8'  },
                    { name: 'viewport', content: 'width=device-width, initial-scale=1.0' },
                    { name: 'description', content: '' },
                    { name: 'keywords', content: '' },

                    // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                    { hid: 'description', name: 'description', content: '揪團一起玩！無限分享！' }
                ],
                link: [
                    { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Kanit:300,400,500,700,900&display=swap' },
                    { rel: 'stylesheet', href: '/css/main.min.css' },
                    { rel: 'stylesheet', href: '/css/style.css' },
                    { rel: 'stylesheet', href: '/css/pion-icon.css' },
                    { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css' },

                    //{ rel: 'stylesheet', href: '/css/color.css' },
                    
                    // Design light mode
                    { rel: 'stylesheet', href: '/css/color-set-A.css' },
                    
                    // Design-A dark mode
                    //{ rel: 'stylesheet', href: '/css/color-set-A-dark.css' },
                    //{ rel: 'stylesheet', href: '/css/dark-theme-set-A.css' },

                    { rel: 'stylesheet', href: '/css/responsive.css' },
                    { rel: 'favicon', href: '/images/favicon.png' , type:'image/png', sizes:'16x16' }
                ],
                script: [
                    { src: '/js/main.min.js'},
                    { src: '/js/script.js'},
                    { src: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI' },
                    { src: 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js' }
                ],
            }
        },
        mounted() {
            var checkSwiper = setInterval(function () {
                //console.log(!Swiper);
                if (!Swiper == false) {
                    clearInterval(checkSwiper);
                    var swiper = new Swiper('.swiper-container', {
                        slidesPerView: 6,
                        spaceBetween: 0,
                        // init: false,
                        navigation: {
                            nextEl: '.swiper-button-next',
                            prevEl: '.swiper-button-prev',
                        },
                        pagination: {
                            //el: '.swiper-pagination',
                            clickable: true,
                        },
                        breakpoints: {
                            1024: {
                                slidesPerView: 5,
                                spaceBetween: 20,
                            },
                            768: {
                                slidesPerView: 5,
                                spaceBetween: 20,
                            },
                            640: {
                                slidesPerView: 2,
                                spaceBetween: 10,
                            },
                            320: {
                                slidesPerView: 3,
                                spaceBetween: 10,
                            }
                        }
                    });
                }
            }, 3000);
        }
    }

</script>
<style>
  .nick_name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>

