<template>
    <div class="central-meta">
        <div class="about" v-if="$auth.loggedIn">
            <div class="personal">
                <h5 class="f-title"><i class="ti-info-alt"></i> Personal Info</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<i class="em em-smiley"></i><i class="em em-smiley"></i>
                </p>
            </div>
            <div class="d-flex flex-row mt-2">
                <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left" >
                    <li class="nav-item">
                        <a href="#basic" class="nav-link active" data-toggle="tab" >Basic info</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a href="#location" class="nav-link" data-toggle="tab" >location</a>
                    </li>
                    <li class="nav-item">
                        <a href="#work" class="nav-link" data-toggle="tab" >work and education</a>
                    </li>-->
                    <li class="nav-item">
                        <a href="#interest" class="nav-link" data-toggle="tab"  >interests</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a href="#lang" class="nav-link" data-toggle="tab" >languages</a>
                    </li>-->
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="basic" >
                        <ul class="basics">
                            <!--
                            <li><i class="ti-user"></i>sarah grey (Gender: male)</li>
                            <li><i class="ti-map-alt"></i>live in Taipei City</li>
                            <li><i class="ti-mobile"></i>+1-234-345675</li>
                            <li><i class="ti-email"></i>yourmail@email.com</li>
                            <li><i class="ti-world"></i>www.yoursite.com</li>-->
                            <li>Name: {{ $auth.user.nick_name }} <i class="fa fa-facebook-square"></i></li>
                            <li>Gender:{{ $store.state.options.gender[$auth.user.gender] }} </li>
                            <li>Age: {{ $auth.user.age }} </li>
                        </ul>
                    </div>
                    <!--
                    <div class="tab-pane fade" id="location" role="tabpanel">
                        <div class="location-map">
                            <div id="map-canvas"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="work" role="tabpanel">
                        <div>
                            
                            <a href="#" title="">Google</a>
                            <p>work as autohr in Google Inc. from 2013</p> 
                            <ul class="education">
                                <li><i class="ti-facebook"></i> BSCS from Oxford University</li>
                                <li><i class="ti-twitter"></i> MSCS from Harvard Unversity</li>
                            </ul>
                        </div>
                    </div>-->
                    <div class="tab-pane fade" id="interest" role="tabpanel">
                        <ul class="basics">
                            <li v-for="(game , index) in $auth.user.game_list">{{ game.game_name }}</li>
                        </ul>
                    </div>
                    <!--
                    <div class="tab-pane fade" id="lang" role="tabpanel">
                        <ul class="basics">
                            <li>english</li>
                            <li>french</li>
                            <li>spanish</li>
                        </ul>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    layout: 'main-feature-photo',
    components: {
    },
    head () {
        return {
            title: 'About',
        }
    },
    beforeMount(){
        //change feature photo
        this.$store.commit('SET_FEATURE_PHOTO' ,{ data : this.$auth.user } );
    }
}
</script>

<style>

</style>
