<template>
    <div class="central-meta">
        <div class="frnds">
            <ul class="nav nav-tabs">
                 <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">我的黑名單</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active fade show " id="frends" >
                  <no-ssr>
                      <ul class="nearby-contct">
                          <li v-for="(user , index) in this.black.list">
                              <div class="nearly-pepls">
                                  <figure>
                                      <a data-toggle="tooltip" data-original-title="" v-bind:href="'/timeline/'+user.user_id" title="">
                                          <img v-bind:src="user.photo == '' ? '/images/default_photo.png' : user.photo" alt="" v-bind:class="{ normal: user.gender == 0 , male: user.gender == 1 ,female: user.gender == 2 }"></a>
                                  </figure>
                                  <div class="pepl-info">
                                      <h4><a v-bind:href="'/timeline/'+user.user_id" title="">{{ user.nick_name }}</a></h4>
                                      <!--<span>{{ user.Fans }} 追隨者 </span>-->
                                      <span>
                                    <template v-for="(game , index) in user.game_list">
                                        {{game.game_name}}<template v-if="index < user.game_list.length - 1">,</template>
                                    </template>
                                </span>
                                      <a v-bind:href="'/timeline/'+user.user_id" title="" class="add-butn" data-ripple="">個人檔案</a>
                                      <a @click.prevent="unblack({'user_id' : user.user_id , 'index':index})" href="#" title="" class="add-butn" data-ripple="">取消黑名單</a>
                                  </div>
                              </div>
                          </li>
                      </ul>
                      <infinite-loading @infinite="listinfiniteHandler">
                        <div slot="no-more">沒有資料了</div>
                        <div slot="no-results">沒有資料了</div>
                      </infinite-loading>
                  </no-ssr>
              </div>
            </div>
        </div>
    </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';
export default {
    layout: 'main-feature-photo',
    components: {
        InfiniteLoading
    },
    data() {
        return {
            black:{
                list:[] ,
                listpage:1
            }
        };
    },
    head () {
        return {
            title: '我的黑名單',
        }
    },
    beforeMount(){
        //change feature photo
        this.$store.commit('SET_FEATURE_PHOTO' ,{ data : this.$auth.user } );
    },
    methods: {
        unblack(para){
            this.$axios.$post('/api/blocklist/unblock' , { 'user_id' : para.user_id } ).then(response => {
                this.$toast.success('Success');
                this.black.list.splice(para.index , 1);
            }).catch(function (error) {
                console.log(error);
            });
        },
        listinfiniteHandler($state) {
            this.$axios.$post('/api/blocklist?page=' + this.black.listpage ).then( response => {
                if(response.data.length){
                    this.black.listpage += 1;
                    this.black.list.push(...response.data);
                    $state.loaded();
                }else{
                    $state.complete();
                }
            }).catch(function (error) {
                console.log(error);
            });
        },
    }

}
</script>

<style>

</style>
