<template>
    <div class="central-meta">
        <div class="editing-interest">

            <h5 class="f-title"><i class="icon icon-ic_game" aria-hidden=""></i>喜好興趣</h5>
            <p></p>
            <no-ssr>
                <vue-tags-input
                        v-model="tag"
                        :tags="tags"
                        :autocomplete-items="autocompleteItems"
                        :max-tags="10"
                        :maxlength="36"
                        :placeholder="'增加標籤'"
                        @tags-changed="update"
                />
            </no-ssr>
            ＊最多增加10個
            <div class="submit-btns">
                <button type="button" class="mtr-btn" @click.prevent="resetitem" :disabled="buttonenabled"><span>重置</span></button>
                <button type="button" class="mtr-btn" @click.prevent="syncitem" :disabled="buttonenabled"><span>更新</span></button>
            </div>
        </div>
    </div>
</template>
<style>
    .mtr-btn:disabled{
        color:gray;
    }
</style>
<script>
export default {
    layout: 'main-feature-photo',
    components: {
    },
    data() {
        return {
            tag: '',
            tags: [],
            deletetags:[],
            autocompleteItems: [],
            debounce: null,
            buttonenabled: true,
        };
    },
    watch: {
        'tag': 'initItems',
    },
    head () {
        return {
            title: '我的興趣',
        }
    },
    beforeMount(){
        //change feature photo
        this.$store.commit('SET_FEATURE_PHOTO' ,{ data : this.$auth.user } );
        this.resetitem();
    },
    methods: {
        update(newTags) {
            this.autocompleteItems = [];
            this.tags = newTags;
            //enable button
            this.buttonenabled = false;
        },
        initItems() {
            if (this.tag.length < 2) return;
            const url = `/api/gamelist`;
            //console.log(this.tag);
            clearTimeout(this.debounce);
            this.debounce = setTimeout(() => {
                this.$axios.post(url , { 'keyword' : this.tag }).then(response => {
                    this.autocompleteItems = response.data.data.map(a => {
                        return { text: a.GameName };
                    });
                }).catch(() => console.warn('Oh. Something went wrong'));
            }, 600);
        },
        syncitem(){
            setTimeout(() => {//delete item
                this.$auth.user.game_list.map( olditem =>{
                    var deleteflage = true;
                    this.tags.map( newitem=>{
                        if( olditem.game_name == newitem.text) deleteflage = false;
                    });
                    if(deleteflage == false){return}

                    this.$axios.post('/api/games/remove' , {'game_name': olditem.game_name}).then(response => {
                    }).catch(err =>{
                        var msg = this.$errormsg(err.response.data);
                        this.$toast.error( msg );
                    });

                });

                //add item
                this.tags.map(a => {
                    var addflag = true;
                    this.$auth.user.game_list.map(olditem =>{
                        if( olditem.game_name == a.text) addflag = false;
                    });
                    if(addflag == false) return;
                    this.$axios.post('/api/games/add' , {'game_name':a.text}).then(response => {
                    }).catch(err =>{
                        var msg = this.$errormsg(err.response.data);
                        this.$toast.error( msg );
                    });
                });

                this.$toast.success('Success');
                this.buttonenabled = true;
                } , 500);

            setTimeout(() => { this.$auth.fetchUser().then( e => {
                this.$store.commit('SET_FEATURE_PHOTO' ,{ data : this.$auth.user } );
            }) } , 1000);

        },
        resetitem(){
            var olditem = this.$auth.user.game_list;
            this.tags = [];
            olditem.map(item =>{
                this.tags.push({'text':item.game_name});
            });
            this.buttonenabled = true;
        },
    },
}
</script>

<style>

</style>
