<template>
    <div class="central-meta">
        <div class="onoff-options">
            <h5 class="f-title"><i class="icon icon-ic_edit_2" aria-hidden=""></i>帳號設定</h5>
            <p></p>

            <form method="post">
                <!--
                <div class="setting-row">
                    <span>Sub users</span>
                    <p>Enable this if you want people to follow you</p>
                    <input type="checkbox" id="switch00">
                    <label for="switch00" data-on-label="開" data-off-label="關"></label>
                </div>
                <div class="setting-row">
                    <span>Enable follow me</span>
                    <p>Enable this if you want people to follow you</p>
                    <input type="checkbox" id="switch01">
                    <label for="switch01" data-on-label="開" data-off-label="關"></label>
                </div>
                <div class="setting-row">
                    <span>Send me notifications</span>
                    <p>Send me notification emails my friends like, share or message me</p>
                    <input type="checkbox" id="switch02">
                    <label for="switch02" data-on-label="開" data-off-label="關"></label>
                </div>
                <div class="setting-row">
                    <span>Text messages</span>
                    <p>Send me messages to my cell phone</p>
                    <input type="checkbox" id="switch03">
                    <label for="switch03" data-on-label="開" data-off-label="關"></label>
                </div>
                <div class="setting-row">
                    <span>Enable tagging</span>
                    <p>Enable my friends to tag me on their posts</p>
                    <input type="checkbox" id="switch04">
                    <label for="switch04" data-on-label="開" data-off-label="關"></label>
                </div>
                <div class="setting-row">
                    <span>Enable sound Notification</span>
                    <p>You'll hear notification sound when someone sends you a private message</p>
                    <input type="checkbox" id="switch05" checked="">
                    <label for="switch05" data-on-label="開" data-off-label="關"></label>
                </div>

                <div class="submit-btns">
                    <button type="button" class="mtr-btn"><span>重置</span></button>
                    <button type="button" class="mtr-btn"><span>更新</span></button>
                </div>
                -->
                <a class="forgot-pwd underline" title="" href="/blacklist">黑名單列表</a>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    layout: 'main-feature-photo',
    components: {
    },
    head () {
        return {
            title: '帳號設定',
        }
    },
    beforeMount(){
        //change feature photo
        this.$store.commit('SET_FEATURE_PHOTO' ,{ data : this.$auth.user } );
    }
}
</script>

<style>

</style>
