<template>
    <div class="central-meta">
        <div class="editing-info">
            <h5 class="f-title"><i class="ti-info-alt"></i> 修改個人資訊</h5>

            <form method="post">
                <div class="form-group half">
                    <input type="text" required="required" v-model="editform.nick_name"  v-on:input="buttonenabled=false"/>
                    <label class="control-label" for="input">暱稱</label><i class="mtrl-select"></i>
                </div>
                <div class="form-group">   
                  <input type="text" id="input" required="required" v-model="editform.age" v-on:input="buttonenabled=false"/>
                  <label class="control-label" for="input">年齡</label><i class="mtrl-select"></i>
                </div>
                <div class="form-group">
                    <select class="syncobj" modelname="gender" v-model="editform.gender">
                        <option value="0">未標明</option>
                        <option value="1">男性</option>
                        <option value="2">女性</option>
                    </select>
                    <label class="control-label" for="input">性別</label><i class="mtrl-select"></i>
                </div>
                <div class="form-group">
                    <select class="syncobj" modelname="location" v-model="editform.location">
                        <option value="0">不限地區</option>
                        <option value="1">台北市</option>
                        <option value="2">新北市</option>
                        <option value="3">桃園市</option>
                        <option value="4">台中市</option>
                        <option value="5">台南市</option>
                        <option value="6">高雄市</option>
                        <option value="7">基隆市</option>
                        <option value="8">新竹市</option>
                        <option value="9">嘉義市</option>
                        <option value="10">新竹縣</option>
                        <option value="11">苗栗縣</option>
                        <option value="12">彰化縣</option>
                        <option value="13">南投縣</option>
                        <option value="14">雲林縣</option>
                        <option value="15">嘉義縣</option>
                        <option value="16">屏東縣</option>
                        <option value="17">宜蘭縣</option>
                        <option value="18">花蓮縣</option>
                        <option value="19">台東縣</option>
                        <option value="20">澎湖縣</option>
                        <option value="21">金門縣</option>
                        <option value="22">連江縣</option>
                        <option value="23">馬祖縣</option>
                    </select>
                    <label class="control-label" for="input">居住地區</label><i class="mtrl-select"></i>

                </div>
                <div class="form-group">
                    <textarea rows="4" id="textarea" required="required" v-model="editform.introduction" v-on:input="buttonenabled=false"></textarea>
                    <label class="control-label" for="textarea">關於自己</label><i class="mtrl-select"></i>
                </div>
                <div class="submit-btns">
                    <button type="button" class="mtr-btn" @click.prevent="resetitem" :disabled="buttonenabled"><span>重置</span></button>
                    <button type="button" class="mtr-btn" @click.prevent="updateProfile" :disabled="buttonenabled"><span>更新</span></button>
                </div>
            </form>
        </div>
    </div>
</template>
<style>
    .mtr-btn:disabled{
        color:gray;
    }
</style>
<script>
export default {
    layout: 'main-feature-photo',
    components: {
    },
    data() {
        return {
            editform: {
                nick_name : this.$auth.user.nick_name,
                age: this.$auth.user.age,
                introduction:this.$auth.user.introduction,
                gender:this.$auth.user.gender,
                location:this.$auth.user.location
            },
            buttonenabled: true
        };
    },
    head () {
        return {
            title: '修改個人資訊',
        }
    },
    beforeMount(){
        //change feature photo
        this.$store.commit('SET_FEATURE_PHOTO' ,{ data : this.$auth.user } );
    },
    mounted(){
        $(".syncobj").chosen().change( e => {
            var paraname = $(e.target).attr('modelname');
            this.editform[paraname] = $(e.target).val();
            this.buttonenabled = false;
        });
    },
    methods: {
        updateProfile( para ){
            this.$axios.$post('/api/user/update' , this.editform ).then(response => {
                this.$toast.success('更新成功');
                this.buttonenabled = true;
                this.$auth.fetchUser().then( e => {
                    this.$store.commit('SET_FEATURE_PHOTO' ,{ data : this.$auth.user } );
                });
            }).catch( (err) => {
                var msg = this.$errormsg(err.response.data);
                this.$toast.error( msg );
            });
        },
        resetitem(){
            this.editform = {
                nick_name : this.$auth.user.nick_name,
                age: this.$auth.user.age,
                introduction:this.$auth.user.introduction,
                gender:this.$auth.user.gender,
                location:this.$auth.user.location
            };

            $(".syncobj").each((key , value) => {
                var targerOBJ = $(value);
                var paraname =targerOBJ.attr('modelname');
                targerOBJ.val( this.editform[paraname]);
                targerOBJ.trigger("chosen:updated");
            });

            this.buttonenabled = true;
        },
    }
}
</script>

<style>

</style>
<style>
    .chosen-container-single .chosen-single {
        color: black !important;
    }

</style>
