<template>
    <div class="central-meta">
        <div class="editing-info">
            <h5 class="f-title"><i class="icon icon-ic_lock" aria-hidden=""></i>變更密碼</h5>

            <form method="post">
                <div class="form-group">
                    <input type="password" id="input" required="required" v-model="form.password">
                    <label class="control-label" for="input">請設定新密碼</label><i class="mtrl-select"></i>
                </div>
                <div class="form-group">
                    <input type="password" required="required" v-model="form.password_confirmation">
                    <label class="control-label" for="input">再次確認新密碼</label><i class="mtrl-select"></i>
                </div>
                <div class="form-group">
                    <input type="password" required="required" v-model="form.oldpassword">
                    <label class="control-label" for="input">目前的密碼</label><i class="mtrl-select"></i>
                </div>
                <div class="submit-btns">
                    <button type="button" @click.prevent="resetitem" class="mtr-btn" :disabled="buttonisenable"><span>重置</span></button>
                    <button type="button" @click.prevent="changepassword" class="mtr-btn" :disabled="buttonisenable"><span>更新</span></button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    layout: 'main-feature-photo',
    components: {
    },
    data() {
        return {
            form: {
                password:'',
                password_confirmation: '',
                oldpassword:''
            },
            buttonenabled: true
        };
    },
    head () {
        return {
            title: '變更密碼',
        }
    },
    beforeMount(){
        //change feature photo
        this.$store.commit('SET_FEATURE_PHOTO' ,{ data : this.$auth.user } );
    },
    methods: {
        resetitem(){
            this.form ={
                password:'',
                password_confirmation: '',
                oldwpassword:''
            };
        },
        async changepassword(e){
            try {
                await this.$axios.$post('/api/auth/changepassword', this.form );
                this.$toast.success('更改成功');
                this.resetitem();
            } catch(e){
                var msg = this.$errormsg(e.response.data);
                this.$toast.error( msg );
            }
        }
    },
    computed:{
        buttonisenable(){
            if(this.form.password != '' && this.form.password_confirmation != '' && this.form.oldpassword != ''){
                return false;
            }else{
                return true;
            }
        }
    }
}
</script>

<style>
    .mtr-btn:disabled{
        color:gray;
    }
</style>
