<template>
    <div class="central-meta">
        <div class="frnds">
            <ul class="nav nav-tabs">
                 <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">粉絲列表</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active fade show " id="frends" >
                <ul class="nearby-contct">
                    <li v-for="user in this.fans.list">
                        <div class="nearly-pepls">
                            <figure v-bind:class="{ 'is-vip' : user.Issubscriber}">
                                <a data-toggle="tooltip" data-original-title="" v-bind:href="'/timeline/'+user.user_id" title=""><img v-bind:src="user.photo" alt="" v-bind:class="{ normal: user.gender == 0 , male: user.gender == 1 ,female: user.gender == 2 }"></a>
                            </figure>
                            <div class="pepl-info">
                                <h4><a v-bind:href="'/timeline/'+user.user_id" title="">{{ user.nick_name }}</a></h4>
                                <!--<span>{{ user.Fans }} 追隨者 </span>-->
                                <span>
                                    <template v-for="(game , index) in user.game_list">
                                        {{game.game_name}}<template v-if="index < user.game_list.length - 1">,</template>
                                    </template>
                                </span>
                                <a v-bind:href="'/timeline/'+user.user_id" title="" class="add-butn" data-ripple="">個人檔案</a>
                            </div>
                        </div>
                    </li>
                </ul>
              </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    layout: 'main-feature-photo',
    components: {
    },
    data() {
        return {
            fans:{
                list : [],
                listpage:1
            }
        };
    },
    head () {
        return {
            title: '粉絲列表',
        }
    },
    beforeMount(){
        //change feature photo
        this.$store.commit('SET_FEATURE_PHOTO' ,{ data : this.$auth.user } );

        //get fans list
        this.$axios.$post('/api/fans' ).then( response => {
            this.fans.list = [];
            this.fans.list = response.data;
            //console.log(this.friend.requestlist);
        }).catch(function (error) {
            console.log(error);
        });
    }
}
</script>

<style>

</style>
