<template>
    <div class="login-reg-bg">
        <div class="log-reg-area forgot">
            <h2 class="log-title">忘記密碼？</h2>
            <p>
                沒有使用過戰友盒嗎？ <!--<a href="#" title="">進行導覽</a> 或是 --><a href="register" title="">馬上加入</a> <br/>
                請輸入帳號登錄電子郵件信箱，我們將發送登入密碼給您。
            </p>
            <form method="post">
                <div class="form-group">
                    <input type="text" v-model="email" required="required"/>
                    <label class="control-label" for="input">電子郵件信箱</label><i class="mtrl-select"></i>
                </div>
                <div class="submit-btns">
                    <button class="mtr-btn signup" type="button" @click.prevent="resetpasseord"><span>發送</span></button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    layout: 'landing',
    auth : false,
    components: {
    },
    data() {
        return {
            email : ''
        }
    },
    head () {
        return {
            title: '忘記密碼',
        }
    },
    methods: {
        resetpasseord(e){
            this.$axios.$post('api/auth/resetpassword' , { 'email' : this.email} ).then( response => {
                this.$toast.success('Succ密碼重設郵件已發送！ess');
            }).catch( e => {
                var msg = this.$errormsg(e.response.data);
                this.$toast.error( msg );
            });

        }
    }
}
</script>

<style>

</style>
