<template>
    <div class="central-meta">
        <div class="onoff-options">
            <h5 class="f-title">戰友盒介紹:</h5>
            <p>《戰友盒》是一個方便使用者尋找同好，一起進行遊戲、組隊，或是<br>共同活動的社交媒體，我們現在主要提供的功能有：</p>
            <div style="padding-bottom: 15px;"></div>
            <h5 class="f-title">搜尋戰友</h5>
            <p>戰友盒提供搜尋同好的服務，能夠依照條件(興趣、年齡、地區)，搜尋<br>有相同喜號的朋友，滿足您社群交友的需求。</p>
            <div style="padding-bottom: 15px;"></div>
            <h5 class="f-title">動態牆</h5>
            <p>提供個人遊戲社群經營、刊登自己的電玩履歷、發表遊戲心得、戰報、<br>遊戲照片等，讓您有機會展現自己的喜好與風格，紀錄點滴。<br>您的同一個喜好圈朋友(或追隨者)也能夠從動態牆更了解您。</p>
            <div style="padding-bottom: 15px;"></div>
            <h5 class="f-title">好友列表</h5>
            <p>這裡有你的好友、你關注的人以及關注你的人，直接點選他們的檔案，<br>了解你的朋友最近對什麼東西感興趣。</p>
            <div style="padding-bottom: 15px;"></div>
            <h5 class="f-title">其他</h5>
            <p>開發中。</p>
            <div style="padding-bottom: 15px;"></div>
        </div>
    </div>
</template>

<script>
export default {
    layout: 'main-feature-photo',
    components: {
    },
    head () {
        return {
            title: '網站使用教學',
        }
    },
    beforeMount(){
        //change feature photo
        this.$store.commit('SET_FEATURE_PHOTO' ,{ data : this.$auth.user } );
    }
}
</script>

<style>

</style>
