<template>
    <div class="login-reg-bg">
        <div class="log-reg-area sign">
            <h2 class="log-title">登入</h2>
            <p>
                沒有使用過戰友盒嗎？ <!--<a href="#" title="">進行導覽</a> 或是 --><a href="register" title="">馬上加入</a>
            </p>
            <form method="post" @keydown.enter="login">
                <div class="form-group">
                    <input type="text" v-model="loginform.email"/>
                    <label class="control-label" for="input">電子郵件信箱</label><i class="mtrl-select"></i>
                </div>
                <div class="form-group">
                    <input type="password" v-model="loginform.password" />
                    <label class="control-label" for="input">密碼</label><i class="mtrl-select"></i>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked="checked"/><i class="check-box"></i>記住我
                    </label>
                </div>
                <nuxt-link to="/forgot-password" class="forgot-pwd">忘記密碼？</nuxt-link>
                <div class="submit-btns">
                    <a class="mtr-btn signin" @click="login"><span>登入</span></a>
                    <nuxt-link class="mtr-btn signin" to="/register"><span>加入會員</span></nuxt-link>
                </div>
                <div class="submit-btns">
                    <a class="mtr-btn social-login" @click="loginsocail('facebook')" style="color:#4267b2;"><span>使用 Facebook 帳號登入</span></a>
                    <a class="mtr-btn social-login" @click="loginsocail('google')" style="color:#4285F4;"><span>使用 Google 帳號登入</span></a>
                </div>
            </form>
            

        </div>
    </div>
</template>

<script>
export default {
    //auth: false,
    layout: 'landing',
    components: {
    },
    head () {
        return {
            title: '會員登入',
        }
    },
    data() {
        return {
            loginform: {
                email : '',
                password:'',
            }
        };
    },
    computed: {
        strategies: () => ([
            { key: 'google', name: 'Google', color: '#4284f4' },
            { key: 'facebook', name: 'Facebook', color: '#3c65c4' },
        ]),
        redirect() {
            return (
                this.$route.query.redirect &&
                decodeURIComponent(this.$route.query.redirect)
            )
        },
        isCallback() {
            return Boolean(this.$route.query.callback)
        }
    },
    methods: {
        login(e) {
            this.$store.commit('login', this.loginform);
        },
        loginsocail(s){
            this.$auth.loginWith(s).then((data)=> {
            }).catch((err)=> {
                console.log(err)
            });
            //$auth.loginWith(s);
        }
    }
}
</script>

<style>

</style>
