<template>
    <div>
        <div class="central-meta">
            <div class="editing-interest">
                <h5 class="f-title"><i class="ti-bell"></i>All Notifications </h5>
                <div class="notification-box">
                    <ul>
                        <li>
                            <figure><img src="/images/resources/friend-avatar.jpg" alt=""></figure>
                            <div class="notifi-meta">
                                <p>bob frank like your post</p>
                                <span>30 mints ago</span>
                            </div>
                            <i class="del fa fa-close"></i>
                        </li>
                        <li>
                            <figure><img src="/images/resources/friend-avatar.jpg" alt=""></figure>
                            <div class="notifi-meta">
                                <p>bob frank and another 12 people like your post</p>
                                <span>30 mints ago</span>
                            </div>
                            <i class="del fa fa-close"></i>
                        </li>
                        <li>
                            <figure><img src="/images/resources/friend-avatar2.jpg" alt=""></figure>
                            <div class="notifi-meta">
                                <p>Sarah Hetfield commented on your photo. </p>
                                <span>1 hours ago</span>
                            </div>
                            <i class="del fa fa-close"></i>
                        </li>
                        <li>
                            <figure><img src="/images/resources/friend-avatar3.jpg" alt=""></figure>
                            <div class="notifi-meta">
                                <p>Mathilda Brinker commented on your new profile status. </p>
                                <span>2 hours ago</span>
                            </div>
                            <i class="del fa fa-close"></i>
                        </li>
                        <li>
                            <figure><img src="/images/resources/friend-avatar4.jpg" alt=""></figure>
                            <div class="notifi-meta">
                                <p>Green Goo Rock invited you to attend to his event Goo in Gotham Bar. </p>
                                <span>2 hours ago</span>
                            </div>
                            <i class="del fa fa-close"></i>
                        </li>
                        <li>
                            <figure><img src="/images/resources/friend-avatar5.jpg" alt=""></figure>
                            <div class="notifi-meta">
                                <p>Chris Greyson liked your profile status. </p>
                                <span>1 day ago</span>
                            </div>
                            <i class="del fa fa-close"></i>
                        </li>
                        <li>
                            <figure><img src="/images/resources/friend-avatar6.jpg" alt=""></figure>
                            <div class="notifi-meta">
                                <p>You and Nicholas Grissom just became friends. Write on his wall. </p>
                                <span>2 days ago</span>
                            </div>
                            <i class="del fa fa-close"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
    layout: 'main-feature-photo',
    components: {
        Logo
    },
    head () {
        return {
            title: 'Notifications',
        }
    },
}
</script>

<style>

</style>
