<template>
    <div id="redoverlay">
        <div style="width: 100%; text-align: center;padding-top: 15vh">
        <img src="/images/landing-logo-beta.png" alt="">
    </div>

    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    </div>
</template>

<script>
export default {
    layout: 'default',
    components: {
    },
    head () {
        return {
            title: '登入驗證',
        }
    },
    beforeMount(){
        var strategy = !this.$auth.strategy == true ? '': this.$auth.strategy;

        if( strategy.name == 'local' ){
            window.location.href='/';
        }else{
            var strategyname = strategy.name;
            var accesstoken = this.$auth.getToken(strategyname);
            var information = { 'access_token' : accesstoken.replace('Bearer ','') ,'provider' : strategyname };

            //socialauth
            this.$axios.$post('/api/auth/socialauth' , information ).then( response => {
                //this.$auth.logout();
                this.$auth.setToken('facebook',false);
                this.$auth.setToken('google',false);
                this.$auth.setToken('local','Bearer ' + response.access_token);
                this.$auth.$storage.setUniversal('strategy' , 'local');
                this.$auth.fetchUser();
                window.location.href='/';
            })
            .catch(function (error) {
                console.log(error);
            });
        }
    },
}
</script>

<style>
    #redoverlay {
        background-color: #007B8A;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }

    #redoverlay img {
        max-width: 250px;
    }

    .spinner {
        margin: 100px auto;
        width: 50px;
        height: 40px;
        text-align: center;
        font-size: 10px;
    }

    .spinner > div {
        background-color: white;
        height: 100%;
        width: 6px;
        display: inline-block;

        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .spinner .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    .spinner .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .spinner .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }

    @-webkit-keyframes sk-stretchdelay {
        0%, 50%, 100% { -webkit-transform: scaleY(0.4) }
        20% { -webkit-transform: scaleY(1.0) }
    }

    @keyframes sk-stretchdelay {
        0%, 50%, 100% {
            transform: scaleY(0.4);
            -webkit-transform: scaleY(0.4);
        }  20% {
               transform: scaleY(1.0);
               -webkit-transform: scaleY(1.0);
           }
    }
</style>
