<template>
    <div class="login-reg-bg">
        <div class="log-reg-area" >
            <h2 class="log-title">加入會員</h2>
            <p>
                沒有使用過戰友盒嗎？ <!--<a href="#" title="">進行導覽</a> 或是 --><a href="register" title="">馬上加入</a>
            </p>
            <form method="post" id="register_form">
                <div class="form-group">
                    <input type="text" name="name" v-model="registerform.name" required="required" />
                    <label class="control-label" for="input">姓名</label><i class="mtrl-select"></i>
                </div>
                <div class="form-group">
                    <input type="password" required="required" name="password" v-model="registerform.password" />
                    <label class="control-label" for="input">密碼</label><i class="mtrl-select"></i>
                </div>
                <div class="form-group">
                    <input type="password" required="required" name="password_confirmation"  v-model="registerform.password_confirmation" />
                    <label class="control-label" for="input">再次確認密碼</label><i class="mtrl-select"></i>
                </div>
                <div class="form-group">
                    <input type="text" required="required" name="email" v-model="registerform.email" />
                    <label class="control-label" for="input">電子郵件信箱</label><i class="mtrl-select"></i>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked="checked"/><i class="check-box"></i>同意使用者條款？
                    </label>
                </div>
                <nuxt-link class="already-have" to="/login"><span>已經持有帳號？</span></nuxt-link>
                <div class="submit-btns">
                    <button class="mtr-btn signup" type="button" @click="register"><span>加入會員</span></button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    auth: false,
    layout: 'landing',
    components: {
    },
    head () {
        return {
            title: '加入會員',
        }
    },
    async mounted() {
        await this.$recaptcha.init()
    },
    data() {
        return {
            registerform: {
                name : '',
                password:'',
                password_confirmation:'',
                email:'',
                recaptcha:''
            }
        };
    },
    methods: {
        async register(e) {
            try {
                const token = await this.$recaptcha.execute('login');
                this.registerform.recaptcha = token;
                //console.log('ReCaptcha token:', token);                
                await this.$axios.$post('/api/auth/register', this.registerform );
                this.$store.commit('login', {'email':this.registerform.email,'password':this.registerform.password});
                this.$toast.success('Success');
                this.$router.replace('/');
            } catch(e){
                var msg = this.$errormsg(e.response.data);
                this.$toast.error( msg );
            }
        }
    }
}
</script>

<style>

</style>
