<template>
    <div>
        <div class="central-meta">
            <div class="editing-info">
                <h5 class="f-title"><i class="ti-info-alt"></i> 進階搜尋</h5>

                <form method="post">
                    <div class="form-group">    
                      <input type="text" v-model="searchkey.username" required="required"/>
                      <label class="control-label" for="input">暱稱</label><i class="mtrl-select"></i>
                    </div>
                    <div class="form-group">    
                      <input type="text" v-model="searchkey.game_name" required="required"/>
                      <label class="control-label" for="input">喜好興趣</label><i class="mtrl-select"></i>
                    </div>
                    <div class="form-group half">   
                      <input type="text" v-model="searchkey.minAge" required="required"/>
                      <label class="control-label" for="input">年齡</label><i class="mtrl-select"></i>
                    </div>
                    <div class="form-group half">   
                      <input type="text" v-model="searchkey.maxAge" required="required"/>
                      <label class="control-label" for="input">至</label><i class="mtrl-select"></i>
                    </div>
                    <div class="dob">
                        <div class="form-group" >
                            <select v-model="searchkey.gender" id="gender">
                                <option value="0">未標明</option>
                                <option value="1">男性</option>
                                <option value="2">女性</option>
                            </select>
                            <label class="control-label" for="input">性別</label><i class="mtrl-select"></i>
                        </div>
                        <div class="form-group"  >
                            <select v-model="searchkey.location" id="location">
                                <option value="0">不限地區</option>
                                <option value="1">台北市</option>
                                <option value="2">新北市</option>
                                <option value="3">桃園市</option>
                                <option value="4">台中市</option>
                                <option value="5">台南市</option>
                                <option value="6">高雄市</option>
                                <option value="7">基隆市</option>
                                <option value="8">新竹市</option>
                                <option value="9">嘉義市</option>
                                <option value="10">新竹縣</option>
                                <option value="11">苗栗縣</option>
                                <option value="12">彰化縣</option>
                                <option value="13">南投縣</option>
                                <option value="14">雲林縣</option>
                                <option value="15">嘉義縣</option>
                                <option value="16">屏東縣</option>
                                <option value="17">宜蘭縣</option>
                                <option value="18">花蓮縣</option>
                                <option value="19">台東縣</option>
                                <option value="20">澎湖縣</option>
                                <option value="21">金門縣</option>
                                <option value="22">連江縣</option>
                                <option value="23">馬祖縣</option>
                            </select>
                            <label class="control-label" for="input">地區</label><i class="mtrl-select"></i>
                        </div>
                    </div>
                    <div class="submit-btns">
                        <button @click.prevent="search" type="button" class="mtr-btn"><span>搜尋</span></button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <div class="central-meta item" style="display: inline-block;">
                <div class="groups">
                    <span><i class="fa fa-search"></i> 搜尋結果</span>
                </div>
                <div id="frends">
                    <no-ssr>
                        <ul class="nearby-contct">
                            <li v-for="user in this.searchlist.list">
                                <div class="nearly-pepls">
                                    <figure v-bind:class="{ 'is-vip' : user.Issubscriber}">
                                        <a data-toggle="tooltip" data-original-title="" v-bind:href="'/timeline/'+user.user_id" title="">
                                    <img v-bind:src="user.photo == '' ? '/images/default_photo.png' : user.photo" alt="" v-bind:class="{ normal: user.gender == 0 , male: user.gender == 1 ,female: user.gender == 2 }"></a>
                                    </figure>
                                    <div class="pepl-info">
                                        <h4><a v-bind:href="'/timeline/'+user.user_id" title="">{{ user.nick_name }}</a></h4>
                                        <span>{{ $store.state.options.location[user.location] }}/{{user.age}}歲 </span>
                                        <span>
                                    <template v-for="(game , index) in user.game_list">
                                        {{game.game_name}}<template v-if="index < user.game_list.length - 1">,</template>
                                    </template>
                                </span>
                                        <!--
                                        <a href="#" title="" class="add-butn more-action" data-ripple="">unfriend</a>
                                        <a href="#" title="" class="add-butn" data-ripple="">add friend</a>-->
                                        <!--<a v-bind:href="'/timeline/'+user.user_id" title="" class="add-butn" data-ripple="">個人檔案</a>-->
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <infinite-loading ref="infiniteLoading" v-if="firstload==false" @infinite="listinfiniteHandler">
                            <div slot="no-more">沒有資料了</div>
                            <div slot="no-results">沒有資料了</div>
                        </infinite-loading>
                    </no-ssr>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Logo from '~/components/Logo.vue'
import InfiniteLoading from 'vue-infinite-loading';

export default {
    layout: 'main-feature-photo',
    components: {
        Logo,
        InfiniteLoading
    },
    head () {
        return {
            title: '搜尋戰友',
        }
    },
    data() {
        return {
            searchkey:{
               'username':'',
               'minAge':0,
               'maxAge':99,
               'game_name':'',
               'location':0,
               'gender':0
            },
            searchlist:{
                list:[] ,
                listpage:1 ,
            },
            firstload : true,
        };
    },
    beforeMount(){
        this.paramapping();
        //change feature photo
        this.$store.commit('SET_FEATURE_PHOTO' ,{ data : this.$auth.user } );
    },
    methods: {
        paramapping(){
            Object.keys(this.searchkey).forEach( key=> {
                // do something with obj[key]
                //console.log(key);
                //console.log(this.searchkey[key]);
                if(!this.$route.query[key] == false){
                    this.searchkey[key] = this.$route.query[key];
                }
            });
            //console.log(this.searchkey);
        },
        listinfiniteHandler($state) {
            this.$axios.$post('/api/search?page=' + this.searchlist.listpage , this.searchkey).then( response => {
                if(response.data.length){
                    this.searchlist.listpage += 1;
                    this.searchlist.list.push(...response.data);
                    if($state) $state.loaded();
                }else{
                    if($state) $state.complete();
                }
            }).catch(function (error) {
                console.log(error);
            });
        },
        search(){
            //change search value
            this.searchkey.location = $('#location').val();
            this.searchkey.gender = $('#gender').val();

            this.searchlist.listpage = 1;
            this.searchlist.list = [];
            this.firstload=false;
            //reset loader status
            if(this.$refs.infiniteLoading){
                this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
            }
            //this.$nuxt.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
            //this.listinfiniteHandler();
        }
    }
}
</script>

<style>

</style>
