<template>
    <div class="central-meta">
        <div class="frnds">
            <ul class="nav nav-tabs">
                 <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">好友列表</a> </li>
                 <li class="nav-item"><a id="requesttab" class="" href="#frends-req" data-toggle="tab">邀請列表</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active fade show " id="frends" >
              <no-ssr>
                <ul class="nearby-contct">
                    <li v-for="user in this.friend.list">
                        <div class="nearly-pepls">
                            <figure v-bind:class="{ 'is-vip' : user.Issubscriber}">
                                <a data-toggle="tooltip" data-original-title="" v-bind:href="'/timeline/'+user.user_id" title="">
                                    <img v-bind:src="user.photo == '' ? '/images/default_photo.png' : user.photo" alt="" v-bind:class="{ normal: user.gender == 0 , male: user.gender == 1 ,female: user.gender == 2 }"></a>
                            </figure>
                            <div class="pepl-info">
                                <h4><a v-bind:href="'/timeline/'+user.user_id" title="">{{ user.nick_name }}</a></h4>
                                <!--<span>{{ user.Fans }} 追隨者 </span>-->
                                <span>
                                    <template v-for="(game , index) in user.game_list">
                                        {{game.game_name}}<template v-if="index < user.game_list.length - 1">,</template>
                                    </template>
                                </span>
                                <!--
                                <a href="#" title="" class="add-butn more-action" data-ripple="">unfriend</a>
                                <a href="#" title="" class="add-butn" data-ripple="">add friend</a>-->
                                <a v-bind:href="'/timeline/'+user.user_id" title="" class="add-butn" data-ripple="">個人檔案</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <infinite-loading @infinite="listinfiniteHandler">
                    <div slot="no-more">沒有資料了</div>
                    <div slot="no-results">沒有資料了</div>
                </infinite-loading>
              </no-ssr>
              </div>
              <div class="tab-pane fade" id="frends-req" >
              <no-ssr>
                <ul class="nearby-contct">
                    <li v-for="(user , index) in this.friend.requestlist">
                        <div class="nearly-pepls">
                            <figure v-bind:class="{ 'is-vip' : user.Issubscriber}">
                                <a data-toggle="tooltip" data-original-title="" v-bind:href="'/timeline/'+user.user_id" title="">
                                    <img v-bind:src="user.photo == '' ? '/images/default_photo.png' : user.photo" alt="" v-bind:class="{ normal: user.gender == 0 , male: user.gender == 1 ,female: user.gender == 2 }"></a>
                            </figure>
                            <div class="pepl-info">
                                <h4><a v-bind:href="'/timeline/'+user.user_id" title="">{{ user.nick_name }}</a></h4>
                                <!--<span>{{ user.Fans }} 追隨者 </span>-->
                                <span>
                                    <template v-for="(game , index) in user.game_list">
                                        {{game.game_name}}<template v-if="index < user.game_list.length - 1">,</template>
                                    </template>
                                </span>
                                <a href="#" title="" class="add-butn more-action" data-ripple="" @click.prevent="requestdel( user , index)">拒絕</a>
                                <a href="#" title="" class="add-butn" data-ripple="" @click.prevent="requestconfirm( user , index )" >接受請求</a>
                                <!--<a v-bind:href="'/timeline/'+user.user_id" title="" class="add-butn" data-ripple="">view profile</a>-->
                            </div>
                        </div>
                    </li>
                </ul>
                <infinite-loading @infinite="requestlistinfiniteHandler">
                    <div slot="no-more">沒有資料了</div>
                    <div slot="no-results">沒有資料了</div>
                </infinite-loading>
              </no-ssr>
              </div>
            </div>
        </div>
    </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';

export default {
    layout: 'main-feature-photo',
    components: {
        InfiniteLoading,
    },
    data() {
        return {
            friend:{
                list:[] ,
                listpage:1 ,
                requestlist:[] ,
                requestlistpage:2
            }
        };
    },
    head () {
        return {
            title: '好友列表',
        }
    },
    beforeMount(){
        //change feature photo
        this.$store.commit('SET_FEATURE_PHOTO' ,{ data : this.$auth.user } );
        /*
        //Get friend list
        this.$axios.$post('/api/friends' ).then( response => {
            //console.log(response);
            this.friend.list = [];
            this.friend.list = response.data;
            //console.log(this.friend.list);
        })
        .catch(function (error) {
            console.log(error);
        });
        */

        //Get requests list
        this.$axios.$post('/api/requests' ).then( response => {
            //console.log(response);
            this.friend.requestlist = [];
            this.friend.requestlist = response.data;
            //console.log(this.friend.requestlist);
        })
        .catch(function (error) {
            console.log(error);
        });
    },
    methods: {
        requestdel(para , index){
            this.$axios.$post('/api/requests/reject' , { 'user_id' : para.user_id } ).then(response => {
                this.friend.requestlist.splice(index , 1);
                this.$store.dispatch('update_requests');
            }).catch(function (error) {
                console.log(error);
            });
        },
        requestconfirm(para ,index ){
            this.$axios.$post('/api/requests/accept' , { 'user_id' : para.user_id } ).then(response => {
                this.friend.list.push(this.friend.requestlist[index]);
                this.friend.requestlist.splice(index , 1);
                this.$store.dispatch('update_requests');
                this.$store.dispatch('update_friendlist');
            }).catch(function (error) {
                console.log(error);
            });
        },
        unfriend(para){
            this.$axios.$post('/api/requests/reject' , { 'user_id' : para.user_id } ).then(response => {
                this.friend.requestlist.splice(index , 1);
            }).catch(function (error) {
                console.log(error);
            });
        },
        listinfiniteHandler($state) {
            this.$axios.$post('/api/friends?page=' + this.friend.listpage).then( response => {
                if(response.data.length){
                    this.friend.listpage += 1;
                    this.friend.list.push(...response.data);
                    $state.loaded();
                }else{
                    $state.complete();
                }
            }).catch(function (error) {
                console.log(error);
            });
        },
        requestlistinfiniteHandler($state) {
            this.$axios.$post('/api/requests?page=' + this.friend.requestlistpage).then( response => {
                if(response.data.length){
                    this.friend.requestlistpage += 1;
                    this.friend.requestlist.push(...response.data);
                    $state.loaded();
                }else{
                    $state.complete();
                }
            }).catch(function (error) {
                console.log(error);
            });

        },
    }
}
</script>

<style>

</style>
