<template>
    <div class="central-meta">
        <div class="frnds">
            <ul class="nav nav-tabs">
                 <li class="nav-item"><a class="active" href="#vip-following" data-toggle="tab">VIP追隨名單</a></li>
                 <li class="nav-item"><a class="" href="#following" data-toggle="tab">追隨名單</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active fade show " id="vip-following" >
                <no-ssr>
                <ul class="nearby-contct">
                    <li v-for="user in this.followlist.vip">
                        <div class="nearly-pepls">
                            <figure v-bind:class="{ 'is-vip' : user.Issubscriber}">
                                <a data-toggle="tooltip" data-original-title="" v-bind:href="'/timeline/'+user.user_id" title="">
                                    <img v-bind:src="user.photo == '' ? '/images/default_photo.png' : user.photo" alt="" v-bind:class="{ normal: user.gender == 0 , male: user.gender == 1 ,female: user.gender == 2 }"></a>
                            </figure>
                            <div class="pepl-info">
                                <h4><a v-bind:href="'/timeline/'+user.user_id" title="">{{ user.nick_name }}</a></h4>
                                <!--<span>{{ user.Fans }} 追隨者 </span>-->
                                <span>
                                    <template v-for="(game , index) in user.game_list">
                                        {{game.game_name}}<template v-if="index < user.game_list.length - 1">,</template>
                                    </template>
                                </span>
                                <a v-bind:href="'/timeline/'+user.user_id" title="" class="add-butn" data-ripple="">個人檔案</a>
                            </div>
                        </div>
                    </li>
                </ul>

                <infinite-loading @infinite="subscriberinfiniteHandler">
                    <div slot="no-more">沒有資料了</div>
                    <div slot="no-results">沒有資料了</div>
                </infinite-loading>
                </no-ssr>
                <!--<div class="lodmore"><button class="btn-view btn-load-more"></button></div>-->
              </div>
              <div class="tab-pane fade " id="following" >
                  <no-ssr>
                    <ul class="nearby-contct">
                        <li v-for="user in this.followlist.general">
                            <div class="nearly-pepls">
                                <figure>
                                    <a data-toggle="tooltip" data-original-title="" v-bind:href="'/timeline/'+user.user_id" title="">
                                        <img v-bind:src="user.photo == '' ? '/images/default_photo.png' : user.photo" alt="" v-bind:class="{ normal: user.gender == 0 , male: user.gender == 1 ,female: user.gender == 2 }"></a>
                                </figure>
                                <div class="pepl-info">
                                    <h4><a v-bind:href="'/timeline/'+user.user_id" title="">{{ user.nick_name }}</a></h4>
                                    <!--<span>{{ user.Fans }} 追隨者 </span>-->
                                    <span>
                                        <template v-for="(game , index) in user.game_list">
                                            {{game.game_name}}<template v-if="index < user.game_list.length - 1">,</template>
                                        </template>
                                    </span>
                                    <a v-bind:href="'/timeline/'+user.user_id" title="" class="add-butn" data-ripple="">個人檔案</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                  <infinite-loading @infinite="nonsubscriberinfiniteHandler">
                        <div slot="no-more">沒有資料了</div>
                        <div slot="no-results">沒有資料了</div>
                  </infinite-loading>
                  </no-ssr>
                <!--<div class="lodmore"><button class="btn-view btn-load-more"></button></div>-->
              </div>
            </div>
        </div>
    </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';

export default {
    layout: 'main-feature-photo',
    components: {
        InfiniteLoading
    },
    data() {
        return {
            followlist:{
                vip:[],
                vippage: 2 ,
                general:[] ,
                generalpage:2 ,
            }
        };
    },
    head () {
        return {
            title: '追隨列表',
        }
    },
    beforeMount(){
        //change feature photo
        this.$store.commit('SET_FEATURE_PHOTO' ,{ data : this.$auth.user } );

        //Get follow list
        this.$axios.$post('/api/following' , {'type':'Subscriber'} ).then( response => {
            this.followlist.vip = [];
            this.followlist.vippage += 1;
            var allfollowing = response.data;
            this.followlist.vip = allfollowing;
        })
        .catch(function (error) {
            console.log(error);
        });

        this.$axios.$post('/api/following' , {'type':'Non-Subscriber'} ).then( response => {
            this.followlist.general = [];
            this.followlist.vippage += 1;
            var allfollowing = response.data;
            this.followlist.general = allfollowing;
        })
        .catch(function (error) {
            console.log(error);
        });
    },
    methods: {
        subscriberinfiniteHandler($state) {
            this.$axios.$post( '/api/following?page='+this.followlist.vippage , {'type':'Subscriber'} ).then( response => {
                if(response.data.length){
                    this.followlist.generalpage += 1;
                    this.followlist.vip.push(...response.data);
                    $state.loaded();
                }else{
                    $state.complete();
                }
            }).catch(function (error) {
                console.log(error);
            });
        },
        nonsubscriberinfiniteHandler($state) {
            this.$axios.$post( '/api/following?page='+this.followlist.generalpage , {'type':'Non-Subscriber'} ).then( response => {
                if(response.data.length){
                    this.followlist.generalpage += 1;
                    this.followlist.general.push(...response.data);
                    $state.loaded();
                }else{
                    $state.complete();
                }
            }).catch(function (error) {
                console.log(error);
            });
        },
    }

}
</script>

<style>

</style>
